<footer class="mt-4" style="background-color: #dbdbdb">
  <div class="row">
    <div class="col-md-3">
      <div class="headings-font">ASASA.COM</div>
      <ul class="list-unstyled text-small">
        <li>
          <i class="fas fa-map-marker-alt"></i> 2nd Floor, Ghosia Plaza, E-11/3
          Markaz, Islamabad, Pakistan
        </li>
        <li>
          <i class="fas fa-phone-square"></i> (+92)-300-5163832
        </li>

        <li><i class="fas fa-envelope"></i> ceo@asasa.com</li>
        <li>
          <i class="fas fa-link mr-2"></i> <a routerLink="/links">Links</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="headings-font">COMPANY</div>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" routerLink="/aboutus">About Us</a>
        </li>
        <li>
          <a class="text-muted" routerLink="/contactus">Contact Us</a>
        </li>
        <li>
          <a class="text-muted" routerLink="/help">Help & Support</a>
        </li>
        <li>
          <a class="text-muted" routerLink="/terms">Term of Use</a>
        </li>
        <li>
          <a class="text-muted" routerLink="/privacy-policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="headings-font">CONNECT</div>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="#">News</a>
        </li>
        <li>
          <a class="text-muted" href="#">Blog</a>
        </li>
        <li>
          <a class="text-muted" href="#">Forum</a>
        </li>
        <li>
          <a class="text-muted" href="#">Expo</a>
        </li>
        <li>
          <a class="text-muted" href="#">Real Estate Agents</a>
        </li>
        <li>
          <a class="text-muted" href="#">Add Property</a>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <div class="icon-row">
        <i class="fab fa-facebook-f fa-3x"></i>
        <i class="fab fa-twitter fa-3x"></i>
        <i class="fab fa-linkedin-in fa-3x"></i>
        <i class="fab fa-instagram fa-3x"></i>
      </div>
      <div class="badge-row">
        <img src="assets/images/app-store-logo.png" />
        <img src="assets/images/play-store-logo.png" style="margin-left: 10px" />
      </div>
    </div>
  </div>
</footer>
<div class="copy">
  <p class="text-center">&copy; Copyright-2018 by ASASA</p>
</div>
