<footer class="mt-4">
  <div class="row">
    <div class="col-md-3">
      <h5>ASASA.COM</h5>
      <ul class="list-unstyled text-small">
        <li>
          <i class="fas fa-map-marker-alt"></i> 2nd Floor, Ghosia Plaza, E-11/3 Markaz, Islamabad</li>
        <li>
          <i class="fas fa-phone-square"></i> +92-311-2233656</li>
        <li>
          <i class="fas fa-envelope"></i> ceo@asasa.com.pk</li>
        <li>
          <i class="fas fa-link mr-2"></i> <a routerLink="/links">Links</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>Company</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="#">About Us</a>
        </li>
        <li>
          <a class="text-muted" href="#">Contact Us</a>
        </li>
        <li>
          <a class="text-muted" href="#">Help & Support</a>
        </li>
        <li>
          <a class="text-muted" href="#">Term of Use</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">

      <ul class="list-inline">
      </ul>

    </div>
  </div>
</footer>
<div class="copy">
  <p class="text-center">&copy; Copyright-2018 by ASASA</p>
</div>