.mobile-number {

  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #37bba3;
}

.more-detail {
  background: white;
  color: #37bba3;
  /* border: black; */
  border-radius: 5px;
  border-color: black;
}

.more-info-row {
  margin-top: 10px;
  justify-content: center;
}

.add-span {
  width: 3px;
  height: 18px;
  margin-top: 5px;
  background: white;
}

.font-span {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}

.font-span2 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
}

.row-header {
  width: 100%;
  margin-left: 0px;

  height: 25px !important;
  margin-bottom: 2px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

.icon-header {
  text-align: right;
}

.fav {
  display: contents;
}

.header-row {
  height: 25px;
  text-align: end;
}

.col-md-4 {
  max-width: 32%;
  text-align: center;
}

.whatsapp {
  background: transparent;
  border: none;
  width: 125px;
}

.upper {
  background: rgb(255, 255, 255);
  color: black;
  width: 100%;
  margin-left: 0px;
}

.middle-1 {
  background: #37bba3;
  color: white;
  width: 100%;
  margin-left: 0px;
  border-bottom: 2px solid;
}

.middle-2 {
  background: rgb(255, 255, 255);
  color: white;
  width: 100%;
  margin-left: 0px;
}

.middle-3 {
  background: rgb(255, 255, 255);

  color: black;
  width: 100%;
  margin-left: 0px;
  /* border-bottom: 2px solid; */
}

.lower {
  height: 25px;
  background: #37bba3;
  color: white;
  width: 100%;
  margin-left: 0px;
}

.modal-footer-content1 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
}

.modal-footer-content2 {
  margin-left: 20px;
  font-weight: 500;
}

.modal-footer-content3 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
}

p {
  margin-bottom: 0;
}

.modal-content {
  height: 500px;
}

.modal-header {
  border: 1px solid #e9ecef;
}

agm-map {
  height: 400px;
}

iframe {
  width: 100%;
  height: 500px;
}

.nav-tabs .nav-item {
  text-align: center;
}

.nav-item .nav-link {
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border-style: groove;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.nav-item .nav-link:hover,
.active {
  background-color: #37bba3 !important;
}

.left-border {
  border-top-left-radius: 35px;
}

.fav_heat {
  background: black;
}

@media screen and (min-width: 400px) {
  .scroll {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 400px) {
  .modal-content {
    height: auto;
  }
}

.bluetick {
  color: #37bba3;
}

.redcross {
  color: red;
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #37bba3;
}

#target {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
}

.navigation {
  margin-left: 2px;
  margin-bottom: 2px;
}

.breadcrumb {
  background-color: white;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
}

.fav_heat {
  width: 40px;
}

.d-md-block {
  padding: 9px;
}

@media (max-width: 768px) {
  .mobile-number {
    display: none;

  }

  .fav_heat {
    display: block !important;
    padding: 9px;
  }

  .d-md-block {
    padding: 0px;
  }

  .uan {
    max-width: 70%;
  }

  .email {
    max-width: 30%;
  }

  .whatsapp {
    background: transparent;
    border: none;
    width: 110px;
  }

  .text-header {
    width: 70% !important;
  }

  .icon-header {
    width: 30% !important;
  }

  .more-info-row {
    margin-bottom: 10px;
  }
}

.holds-the-iframe {
  background: url(/assets/images/360Tour.gif) center center no-repeat;
  background-size: 50%;
}
