<!-- <div class="row" style="margin-top: 60px;">
    <a
      class="btn btn-primary btn-sm mt-1 ml-4 mr-1 mb-1 d-none d-sm-none d-md-block"
      (click)="backClicked()"
    >
      <i class="fas fa-arrow-left"></i> &nbsp; Go back</a
    >

    <fav-heart
      [id]="id"
      class="mt-1 ml-4 mr-4 mb-1 d-sm-block d-md-none"
    ></fav-heart>

    <nav *ngIf="ad" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/{{ ad.locationData.city }}">{{
            ad.locationData.city
          }}</a>
        </li>
        <li class="breadcrumb-item">
          <a
            routerLink="/{{ ad.locationData.city }}/{{
              ad.locationData.location
            }}"
            >{{ ad.locationData.location }}</a
          >
        </li>
        <li class="breadcrumb-item">{{ ad._id }}</li>
      </ol>
    </nav>

    <div class="mt-1 ml-4 mr-4 mb-1 d-sm-block d-md-none ml-auto">
      <a (click)="backClicked()"><i class="far fa-times-circle fa-2x"></i></a>
    </div>
  /</div> -->
<div class="row row-header">
  <div class="col-md-9 text-header" *ngFor="let data of myAllAdData">PROPERTY ID:&nbsp;{{ data._id }} </div>
  <div class="col-md-3 icon-header">
    <fav-heart class=" " style="color: black;
    position: absolute;
    margin-left: -25px;
    margin-top: -5px;"></fav-heart>

    <img (click)="closeModal()" src="/assets/images/close.png" width="18" height="18" style="margin-top: -5px;
    margin-left: 5px;
    margin-right: -5px;
    filter: invert(0.9)" />
  </div>
</div>
<!-- <span style="width: 1px;"></span> -->


<div class="row no-gutters">
  <div *ngIf="ad" class="col-md-12">
    <!-- <div class="navbar navbar-light bg-faded"> -->
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item" *ngIf="ad.imagesData && ad.imagesData.images">
        <a class="nav-link" data-toggle="tab" href="#start" aria-selected="false">Photos</a>
      </li>
      <li class="nav-item" *ngIf="
      ad.imagesData &&
      ad.imagesData.image3d &&
      ad.imagesData.image3d.value != ''
    ">
        <a class="nav-link" data-toggle="tab" href="#form" aria-selected="false" (click)="url3d()">360&deg; </a>
      </li>
      <li class="nav-item" *ngIf="ad.vidUrl">
        <a class="nav-link" data-toggle="tab" href="#status" aria-selected="false">Videos</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" data-toggle="tab" href="#reports" aria-selected="true">Maps</a>
      </li>

    </ul>
    <!-- </div> -->


    <!-- <ul class="nav nav-tabs no-gutters">
      <span *ngIf="ad.imagesData && ad.imagesData.images" class="nav-item col">
        <a class="nav-item nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos"
          aria-selected="false">Photos</a>
      </span>
      <span *ngIf="
          ad.imagesData &&
          ad.imagesData.image3d &&
          ad.imagesData.image3d.value != ''
        " class="nav-item col">
        <a class="nav-item nav-link" id="3dImg-tab" data-toggle="tab" href="#3dImg" role="tab" aria-controls="3dImg"
          aria-selected="false" (click)="url3d()">360&deg;</a>
      </span>
      <span *ngIf="ad.vidUrl" class="nav-item col">
        <a class="nav-item nav-link" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos"
          aria-selected="false">Videos</a>
      </span>

      <span class="nav-item col">
        <a class="nav-item nav-link active" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map"
          aria-selected="true">Map</a>
      </span>
    </ul> -->

    <div class="tab-content" style="    overflow-y: scroll;
    height: 455px;">
      <div class="tab-pane active" id="start" *ngIf="ad.imagesData && ad.imagesData.images">
        <photo-slider [images]="ad.imagesData.images"></photo-slider>
      </div>
      <div class="tab-pane holds-the-iframe" id="form" *ngIf="ad.imagesData && ad.imagesData.image3d"><iframe  *ngIf="image3d"
          frameborder="0" scrolling="no" [src]="url3D" allowfullscreen></iframe></div>
      <div class="tab-pane" id="status" *ngIf="ad.vidUrl"> <iframe [src]="safeUrl" frameborder="0" scrolling="no"
          allowfullscreen></iframe></div>
      <div class="tab-pane active" id="reports">
        <agm-map [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng" [mapTypeControl]="true"
          [panControl]="true" [zoom]="17" [maxZoom]="19" (mapReady)="mapReady($event)">
          <agm-marker [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng">
          </agm-marker>
        </agm-map>
      </div>
      <!-- <div *ngIf="ad.imagesData && ad.imagesData.images" class="tab-pane fade" id="photos" role="tabpanel"
        aria-labelledby="photos-tab">
        <photo-slider [images]="ad.imagesData.images"></photo-slider>
      </div>
      <div *ngIf="ad.imagesData && ad.imagesData.image3d" class="tab-pane fade" id="3dImg" role="tabpanel"
        aria-labelledby="3dImg-tab">

        <iframe *ngIf="image3d" frameborder="0" scrolling="no" [src]="url3D" allowfullscreen></iframe>
      </div>
      <div *ngIf="ad.vidUrl" class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
        <iframe [src]="safeUrl" frameborder="0" scrolling="no" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade show active" id="map" role="tabpanel" aria-labelledby="map-tab">
        <agm-map [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng" [mapTypeControl]="true"
          [panControl]="true" [zoom]="17" [maxZoom]="19" (mapReady)="mapReady($event)">
          <agm-marker [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng">
          </agm-marker>
        </agm-map>
      </div> -->

      <div class="row upper">
        <div class="col-md-3">
          <div *ngFor="let data of rsDemand">
            <div class="row1">
              <P class="modal-footer-content1">{{ data.demand }}</P>
            </div>
          </div>
          <div *ngFor="let data of locProperty">
            <div class="row2">
              <P class="modal-footer-content2">{{ data.location }}&nbsp;{{ data.city }}</P>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row more-info-row" *ngFor="let data of myAllAdData">
            <span *ngIf="data?.type=='commercial'" class="font-span">{{data?.type| titlecase }}</span>
            <span *ngIf="data?.type!='commercial'" class="font-span">{{data?.subtype| titlecase }}</span>
            <span class="add-span"></span>
            <span class="font-span">{{data?.area}}{{data?.areaType| titlecase }}</span>
            <span *ngIf="data?.type=='commercial'" class="add-span"></span>
            <span class="font-span" *ngIf="data?.type=='commercial'">{{data?.subtype| titlecase }}</span>
            <!-- <span>4 Floors</span> -->
            <span *ngIf="data?.type!='plot'" class="add-span"></span>
            <span class="font-span" *ngIf="data?.type=='house'">
              {{data?.rooms.beds}} Bedrooms
            </span>
            <span class="add-span" *ngIf="data?.type=='house'"></span>
            <span class="font-span" *ngIf="data?.type=='house'">
              {{data?.rooms.baths}} Bathrooms
            </span>
            <span class="font-span" *ngIf="data?.type=='commercial'">4 Floors</span>
            &nbsp; &nbsp; &nbsp;
            <span><button class="more-detail" type="button" data-toggle="collapse" data-target="#moreDetail"
                (click)="moreDetailScroll(target)">More Details</button></span>


          </div>
        </div>
      </div>

      <div id="moreDetail" class="collapse" #target>
        <div class="row middle-1" style="   justify-content: center;">
          <span *ngFor="let data of myAllAdData">
            <span *ngIf="data?.type=='house'">
              <span class="font-span2" *ngIf="data?.type=='house'">
                Kitchens {{data?.rooms.kitchens}}
              </span>
              <span>|</span>
              <span class="font-span2" *ngIf="data?.type=='house'">
                Servant Quarters {{data?.rooms.servant_quarters}}
              </span>
              <span>|</span>
              <span class="font-span2" *ngIf="data?.type=='house'">
                Store Rooms {{data?.rooms.store_rooms}}
              </span>
              <span>|</span>
              <span class="font-span2" *ngIf="data?.type=='house'">
                Other Rooms {{data?.rooms.other_rooms}}
              </span>
            </span>
            <span *ngIf="data?.type=='commercial'">
              <span class="font-span2" *ngIf="data?.type=='commercial'">
                Servant Quarters {{data?.rooms.servant_quarters}}
              </span>
              <span>|</span>
              <span class="font-span2" *ngIf="data?.type=='commercial'">
                Other Rooms {{data?.rooms.other_rooms}}
              </span>


            </span>

          </span>
        </div>
        <div class="row middle-2" style="    justify-content: center;">
          <span style="    text-align: center;
                background: white;
                color: #37bba3;
                border-radius: 15px;
                width: 180px;
                margin-top: 5px;
                margin-bottom: 5px;
                border: 1px solid;">Special Features</span>
        </div>
        <div class="row middle-3" *ngFor="let data of myAllAdData" style="    justify-content: center;">
          <span *ngIf="data?.type=='plot'">
            <span class="font-span2" *ngIf="data?.plot_features.balloted==true">
              Balloted <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.balloted==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.boundary_wall==true">
              Boundary Wall <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.boundary_wall==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.corner==true">
              Corner <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.corner==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.disputed==true">
              Disputed <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.disputed==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.electricity==true">
              Electricity <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.electricity==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.file==true">
              File <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.file==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.park_facing==true">
              Park Facing <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.park_facing==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.possession==true">
              Possession <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.possession==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.sewerage==true">
              Sewerage <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.sewerage==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.sui_gas==true">
              Sui Gas <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.plot_features.sui_gas==true">|</span>
            <span class="font-span2" *ngIf="data?.plot_features.water_supply==true">
              Water Supply <i class="far fa-check-square"></i>
            </span>
            <!-- <span *ngIf="data?.plot_features.water_supply==true" >|</span> -->
          </span>
          <span *ngIf="data?.type=='house'">
            <span class="font-span2" *ngIf="data?.rooms.dining_room==true">
              Dining Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.dining_room==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.drawing_room==true">
              Drawing Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.drawing_room==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.gym==true">
              Gym <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.gym==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.laundry_room==true">
              Laundry Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.laundry_room==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.lounge_room==true">
              Lounge Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.lounge_room==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.powder_room==true">
              Powder Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.powder_room==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.prayer_room==true">
              Prayer Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.prayer_room==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.steam_room==true">
              Steam Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.steam_room==true">|</span>
            <span class="font-span2" *ngIf="data?.rooms.studing_room==true">
              Studying Room <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.rooms.studing_room==true">|</span>


          </span>
          <span *ngIf="data?.type=='commercial'">
            <span class="font-span2" *ngIf="data?.biz_comm.atm==true">
              ATM <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.biz_comm.atm==true">|</span>
            <span class="font-span2" *ngIf="data?.biz_comm.business_center==true">
              Business Center <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.biz_comm.business_center==true">|</span>
            <span class="font-span2" *ngIf="data?.biz_comm.cable_tv==true">
              Cable Tv <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.biz_comm.cable_tv==true">|</span>
            <span class="font-span2" *ngIf="data?.biz_comm.intercom==true">
              Intercom <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.biz_comm.intercom==true">|</span>
            <span class="font-span2" *ngIf="data?.biz_comm.internet==true">
              Internet <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.biz_comm.internet==true">|</span>
            <span class="font-span2" *ngIf="data?.healthcare.lawn==true">
              Lawn <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.healthcare.lawn==true">|</span>
            <span class="font-span2" *ngIf="data?.other.maintainance_staff==true">
              Maintainance Staff <i class="far fa-check-square"></i>
            </span>
            <span *ngIf="data?.other.maintainance_staff==true">|</span>

          </span>
        </div>

      </div>

    </div>
    <div class="row lower">
      <div class="col-md-4 email">
        <button (click)="emailModal(emailFormModal)" type="button" style="    background: transparent;
        border: none;">
          Email &nbsp;<i class="far fa-envelope"></i>
        </button>
      </div>
      <span style="    background: white;

    width: 5px;"></span>
      <div class="col-md-4 email">
        <a href="https://wa.me/+923026326656"  type="button" style="    background: transparent;
        border: none;">
          Call &nbsp;<i class="fas fa-phone"></i>
      </a>
      </div>
      <span style="    background: white;

      width: 5px;"></span>
      <div class="col-md-4 email">
        <button class="whatsapp" type="button" (click)="whatsappModal(whatsappFormModal)">
          Whatsapp &nbsp;<i class="fab fa-whatsapp"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-4">
      <div class="modal-header">

      </div>
      <div *ngIf="ad" class="modal-content scroll" id="style-2">


        <div class="container">


          <div *ngIf="basic" class="row mb-1">
            <div class="alert alert-info w-100 text-center">
              <strong>Basics</strong>
            </div>

            <table
              class="table table-striped"
              style="margin: 10px; margin-top: 0;"
            >
              <tbody>
                <tr>
                  <b>Property Ref Id</b>
                  :
                  {{
                    ad._id
                  }}
                </tr>
                <tr *ngFor="let entry of basic | keys">
                  <b>{{ entry.key | titlecase }}</b>
                  :
                  {{
                    entry.value | titlecase
                  }}
                </tr>
                <tr *ngFor="let entry of location | keys">
                  <b>{{ entry.key | titlecase }}</b>
                  :
                  {{
                    entry.value | titlecase
                  }}
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="ad.description" class="row mt-2">
            <div class="alert alert-info w-100 text-center">
              <strong>Description</strong>
            </div>
            <div innerHTML="{{ ad.description }}" class="ml-1"></div>
          </div>

          <div *ngIf="ad.type == 'plot'" class="row mt-2">
            <div
              *ngIf="plot_features.length > 0"
              class="alert alert-info w-100 text-center"
            >
              <strong>Features</strong>
            </div>
            <ng-container *ngFor="let entry of plot_features | keys">
              <div *ngIf="entry.value" class="col-md-6">
                <b>{{ entry.key | titlecase }}</b> &nbsp;
                <span *ngIf="ad?.plot_features[entry.key]!=true">{{ (ad?.plot_features)[entry.key] }} </span><span *ngIf="ad?.plot_features[entry.key]==true"><i class="fas fa-check bluetick"></i></span>
              </div>
            </ng-container>

            <div *ngIf="ad.biz_comm" class="alert alert-info w-100 text-center">
                <strong>Biz {{ad.biz_comm.length}}</strong>
              </div>

              <ng-container *ngIf="ad.biz_comm">
                <ng-container *ngFor="let entry of ad.biz_comm | keys">
                  <div *ngIf="entry.value" class="col-md-6">
                    <b>{{ entry.key | titlecase }} : </b>
                    <span *ngIf="ad?.biz_comm[entry.key]!=true">{{ (ad?.biz_comm)[entry.key] }} </span><span *ngIf="ad?.biz_comm[entry.key]==true"><i class="fas fa-check bluetick"></i></span>

                  </div>
                </ng-container>
              </ng-container>

              <div *ngIf="ad.healthcare" class="alert alert-info w-100 text-center">
                  <strong>Health Care</strong>
                </div>

                <ng-container *ngIf="ad.healthcare">
                  <ng-container *ngFor="let entry of ad.healthcare | keys">
                    <div *ngIf="entry.value" class="col-md-6">
                      <b>{{ entry.key | titlecase }} : </b>
                      <span *ngIf="ad?.healthcare[entry.key]!=true">{{ (ad?.healthcare)[entry.key] }} </span><span *ngIf="ad?.healthcare[entry.key]==true"><i class="fas fa-check bluetick"></i></span>
                    </div>
                  </ng-container>
                </ng-container>
                <div *ngIf="ad.nearby_loc.value" class="alert alert-info w-100 text-center">
                    <strong>Nearby Locations</strong>
                  </div>

                  <ng-container *ngIf="ad.nearby_loc">
                    <ng-container *ngFor="let entry of ad.nearby_loc | keys">
                      <div *ngIf="entry.value" class="col-md-6">
                        <b>{{ entry.key | titlecase }} : </b>
                        {{ (ad?.nearby_loc)[entry.key] }}
                      </div>
                    </ng-container>
                  </ng-container>
                  <div *ngIf="ad.other" class="alert alert-info w-100 text-center">
                      <strong>Other {{ad.other[0]}}</strong>
                    </div>

                    <ng-container *ngIf="ad.other">
                      <ng-container *ngFor="let entry of ad.other | keys">
                        <div *ngIf="entry.value" class="col-md-6">
                          <b>{{ entry.key | titlecase }} : </b>
                          <span *ngIf="ad?.other[entry.key]!=true">{{ (ad?.other)[entry.key] }} </span><span *ngIf="ad?.other[entry.key]==true"><i class="fas fa-check bluetick"></i></span>
                        </div>
                      </ng-container>
                    </ng-container>
          </div>

          <div *ngIf="ad.type != 'plot'" class="row mt-2 mb-2">
            <div class="alert alert-info w-100 text-center">
              <strong>Features</strong>
            </div>

            <ng-container *ngIf="ad.rooms">
              <ng-container *ngFor="let entry of ad.rooms | keys">
                <div *ngIf="entry.value" class="col-md-6">
                  <b>{{ entry.key | titlecase }} : </b>
                  <span *ngIf="ad?.rooms[entry.key]!=true">{{ (ad?.rooms)[entry.key] }} </span><span *ngIf="ad?.rooms[entry.key]==true"><i class="fas fa-check bluetick"></i></span>
                </div>
              </ng-container>
            </ng-container>

            <div *ngIf="ad.biz_comm" class="alert alert-info w-100 text-center">
                <strong>Biz</strong>
              </div>

              <ng-container *ngIf="ad.biz_comm">
                <ng-container *ngFor="let entry of ad.biz_comm | keys">
                  <div *ngIf="entry.value" class="col-md-6">
                    <b>{{ entry.key | titlecase }} : </b>
                    <span *ngIf="ad?.biz_comm[entry.key]!=true">{{ (ad?.biz_comm)[entry.key] }} </span><span *ngIf="ad?.biz_comm[entry.key]==true"><i class="fas fa-check bluetick"></i></span>
                  </div>
                </ng-container>
              </ng-container>

              <div *ngIf="ad.healthcare" class="alert alert-info w-100 text-center">
                  <strong>Health Care</strong>
                </div>

                <ng-container *ngIf="ad.healthcare">
                  <ng-container *ngFor="let entry of ad.healthcare | keys">
                    <div *ngIf="entry.value" class="col-md-6">
                      <b>{{ entry.key | titlecase }} : </b>
                      <span *ngIf="ad?.healthcare[entry.key]!=true">{{ (ad?.healthcare)[entry.key] }} </span><span *ngIf="ad?.healthcare[entry.key]==true"><i class="fas fa-check bluetick"></i></span>
                    </div>
                  </ng-container>
                </ng-container>
                <div *ngIf="ad.nearby_loc" class="alert alert-info w-100 text-center">
                    <strong>Nearby Locations</strong>
                  </div>

                  <ng-container *ngIf="ad.nearby_loc">
                    <ng-container *ngFor="let entry of ad.nearby_loc | keys">
                      <div *ngIf="entry.value" class="col-md-6">
                        <b>{{ entry.key | titlecase }} : </b>
                        {{ (ad?.nearby_loc)[entry.key] }}
                      </div>
                    </ng-container>
                  </ng-container>
                  <div *ngIf="ad.other" class="alert alert-info w-100 text-center">
                      <strong>Other </strong>
                    </div>

                    <ng-container *ngIf="ad.other">
                      <ng-container *ngFor="let entry of ad.other | keys">
                        <div *ngIf="entry.value" class="col-md-6">
                          <b>{{ entry.key | titlecase }} : </b>
                          <span *ngIf="ad?.other[entry.key]!=true">{{ (ad?.other)[entry.key] }}</span><span *ngIf="ad?.other[entry.key]==true"><i class="fas fa-check bluetick"></i></span>
                        </div>
                      </ng-container>
                    </ng-container>
          </div>
        </div>
        <email [id]="ad._id"></email>
        <br />


      </div>
    </div> -->

</div>

<ng-template #emailFormModal>
  <email></email>
</ng-template>
<ng-template #callFormModal>

  <div class="container">
    <div class="row"> <img src="/assets/images/telephone-icon.png" width="46px" height="46px" style="    margin-left: 3px;
    margin-top: 5px;" />
      <div style="    padding: 20px;
    font-size: 17px;
    font-weight: 600;">UAN: +92-51-111-127-272</div>
    </div>
    <div style="width: 100%;
height: 1px;
background: #37bba3;"></div>
    <div *ngFor="let data of myAllAdData">Please mention Property ID:<span
        style="    font-weight: 600;">{{data._id}}</span> when calling us.</div>
  </div>

</ng-template>
<ng-template #whatsappFormModal>
  <div class="container">
    <div class="row">
      <i class="fab fa-whatsapp fa-3x" style="    margin-left: 20px;
        margin-top: 5px;"></i>
      <div style="    padding: 20px;
      font-size: 17px;
      font-weight: 600;">+92-311-2233656</div>
    </div>
    <div style="width: 100%;
height: 1px;
background: #37bba3;"></div>
    <div *ngFor="let data of myAllAdData" style="    margin-left: 20px;">Please mention Property ID: <span
        style="    font-weight: 600;">{{data._id}}</span> when calling us.</div>
  </div>

</ng-template>
