<section class="banner">
  <h1 class="heading">ABOUT US</h1>
</section>
<section class="container mt20 about-us">
  <div id="fixed-tabs" class="container nav">
    <ul>
      <!-- <li class="active" data-i="0" data-url="https://www.zameen.com/about/aboutus.html">OVERVIEW</li>
      <li class="" data-i="1" data-url="https://www.zameen.com/about/boardofdirectors.html">BOARD OF DIRECTORS</li>
      <li class="" data-i="2" data-url="https://www.zameen.com/about/investors.html">INVESTORS</li> -->
    </ul>
  </div>
  <div class="aboutus-inner">
    <article class="left">
      <h3>WHAT IS ASASA.COM?</h3>
      <p> We are a house hold name in property sector of Islamabad and have been operating in property sector of
        neighboring cities for the last 12 years. We have strived hard to provide transparent and profit oriented
        property services to our esteemed clients in the most professional and customer friendly manner. We have
        handpicked a dedicated team of real estate veterans who have been involved in thousands of successful deals in
        the real sector of capital city. We have helped thousands of clients get maximum value for their investment and
        have enabled our commercial clients to acquire a promising place to get on with their business. We are
        specialists in the areas of Bahria Town Phase-1 to 8, all sectors of DHA and all over CDA Islamabad.</p>
    </article>
    <article class="left mt60">
      <h3 class="heading">How did it all start? </h3>
      <p>We always welcome our clients in a warm and assuring way and take in even the most minute demands, necessary
        details and needs of our clients conducting a market analysis and then coming up with multiple viable options
        for the benefit of our esteemed clientele. We offer the perfect platform where buyers, sellers and tenants open
        up about their needs to our experts, who are more the ready to assist you in your quest for an ideal real estate
        solution. We deal in all kinds of sale, purchase and rent of commercial and residential properties. We also
        provide building and construction services.
      </p>

      <p class="mt40">
        We always welcome our clients in a warm and assuring way and take in even the most minute demands, necessary
        details and needs of our clients conducting a market analysis and then coming up with multiple viable options
        for the benefit of our esteemed clientele. We offer the perfect platform where buyers, sellers and tenants open
        up about their needs to our experts, who are more the ready to assist you in your quest for an ideal real estate
        solution. We deal in all kinds of sale, purchase and rent of commercial and residential properties. We also
        provide building and construction services.
      </p>

      <p class="mt40">
        We always welcome our clients in a warm and assuring way and take in even the most minute demands, necessary
        details and needs of our clients conducting a market analysis and then coming up with multiple viable options
        for the benefit of our esteemed clientele. We offer the perfect platform where buyers, sellers and tenants open
        up about their needs to our experts, who are more the ready to assist you in your quest for an ideal real estate
        solution. We deal in all kinds of sale, purchase and rent of commercial and residential properties. We also
        provide building and construction services.
      </p>

    </article>

    <article class="left mt60">
      <h3 class="heading">What do we do?</h3>
      <p>We always welcome our clients in a warm and assuring way and take in even the most minute demands, necessary
        details and needs of our clients conducting a market analysis and then coming up with multiple viable options
        for the benefit of our esteemed clientele. We offer the perfect platform where buyers, sellers and tenants open
        up about their needs to our experts, who are more the ready to assist you in your quest for an ideal real estate
        solution. We deal in all kinds of sale, purchase and rent of commercial and residential properties. We also
        provide building and construction services.
      </p>
    </article>

    <article class="left mt60">
      <h3 class="heading">ASASA Expos</h3>
      <p>We always welcome our clients in a warm and assuring way and take in even the most minute demands, necessary
        details and needs of our clients conducting a market analysis and then coming up with multiple viable options
        for the benefit of our esteemed clientele. We offer the perfect platform where buyers, sellers and tenants open
        up about their needs to our experts, who are more the ready to assist you in your quest for an ideal real estate
        solution. We deal in all kinds of sale, purchase and rent of commercial and residential properties. We also
        provide building and construction services.
      </p>
    </article>

    <article class="left mt60 mb60">
      <h3>Exclusive marketing by ASASA.com</h3>
      <p>
        We always welcome our clients in a warm and assuring way and take in even the most minute demands, necessary
        details and needs of our clients conducting a market analysis and then coming up with multiple viable options
        for the benefit of our esteemed clientele. We offer the perfect platform where buyers, sellers and tenants open
        up about their needs to our experts, who are more the ready to assist you in your quest for an ideal real estate
        solution. We deal in all kinds of sale, purchase and rent of commercial and residential properties. We also
        provide building and construction services.
      </p>

      <p class="mt40">
        We always welcome our clients in a warm and assuring way and take in even the most minute demands, necessary
        details and needs of our clients conducting a market analysis and then coming up with multiple viable options
        for the benefit of our esteemed clientele. We offer the perfect platform where buyers, sellers and tenants open
        up about their needs to our experts, who are more the ready to assist you in your quest for an ideal real estate
        solution. We deal in all kinds of sale, purchase and rent of commercial and residential properties. We also
        provide building and construction services.
      </p>
    </article>

  </div>
</section>
<asasa-footer class="footer"></asasa-footer>
