<section class="banner">
  <h1 class="heading">CONTACT US</h1>
</section>
<div class="agm-map">
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [label]="labelOptions" [iconUrl]="icon"></agm-marker>
  </agm-map>
</div>
<section class="email">

  <div class="decription mt30 mb40 ">
    <p class="mt20">
      Do you know anybody, any single person who gets excited at the thought of helping others?
    </p>
    <p class="mt40">
      Well, we do… that’s us! While others get bummed when asked for help, we get pumped to serve you! Team ASASA is
      ever ready to help you every step of the way. We’ve deployed dedicated resources to assist, guide, attend and
      answer your queries throughout the week.
    </p>
    <p class="mt40 mb80">
      Asasa.com is head-quartered in Islamabad. You can reach us via
      phone, email or walk right into any of our office and we would be more than glad to help you.
    </p>

    <div class="heading-contact">ASK US ANYTHING</div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="name" placeholder="NAME*">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="email" placeholder="EMAIL*">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="phone" placeholder="PHONE*">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="subject" placeholder="SUBJECT*">
    </div>
    <label class="lbl">MESSAGE*
    </label>
    <div class="form-group">

      <textarea class="message" [(ngModel)]="message">
      </textarea>
    </div>
    <div class="form-group">

      <!-- (click)="send()" -->
      <button type="button" class="email_button" style="width: 50%;" data-toggle="modal" data-target="#emailModal">
        SEND EMAIL</button>
    </div>
  </div>
</section>
<section class="telephone">
  <div class="heading mt40">Telephone</div>
  <div class="decription mt30 mb40 ">
    <p class="mb60">
      Support is also available via phone, but to get the fastest response please use the email form above. Please do
      not forget to leave your contact details and email address if using voicemail.
    </p>
    <div class="country contact">
      <div class="country-name">Pakistan</div>
      <div class="country-phone">UAN: (051)-111-127-272</div>
      <div class="country-phone">(+92)-311-2233656 (24/7)</div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section class="offices postal">
  <div class="heading mt40">Offices</div>
  <div class="post-info">
    <span>If you need to mail any advertising literature then please use any of the following addresses:</span>
    <div class="offices-wrp">
      <div class="offices-heading mt40">
        <h3>Islamabad - Head Office</h3>
      </div>
      <div class="offices-addres left">
        <p>
          2nd Floor,<br> Ghosia Plaza, E-11/3 Markaz,<br> Islamabad,<br> Pakistan.
        </p>

      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</section>
<asasa-footer class="footer"></asasa-footer>
