.banner {
  margin-top: 60px;
  background-color: #ffffff;
  border: 1px solid #ededed;
}

.heading-contact {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  font-family: "Lato", sans-serif;
  color: #414141;
}

.banner .heading {
  font-size: 33px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  font-family: "Lato", sans-serif;
  color: #121212;
}

.map-image {
  margin-top: 5px;
}

.postal {
  position: relative;

  margin-top: 10px !important;

  margin-bottom: 5px !important;
  text-align: center;
  width: 640px;
  margin: 0 auto;
  background-color: #ececec;
  border-top: 5px solid #25bda4;
  border-radius: 4px;
}

.email {
  position: relative;

  margin-top: -25px !important;

  margin-bottom: 5px !important;
  text-align: center;
  width: 640px;
  margin: 0 auto;
  background-color: #ececec;
  border-top: 5px solid #25bda4;
  border-radius: 4px;
}

.telephone {
  position: relative;

  margin-top: 10px !important;

  margin-bottom: 5px !important;
  text-align: center;
  width: 640px;
  margin: 0 auto;
  background-color: #ececec;
  border-top: 5px solid #25bda4;
  border-radius: 4px;
}

.postal .heading {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.heading {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  color: #414141;
}

.country-phone {
  color: #25bda4;
  font-size: 15px;
  line-height: 30px;
}

.country-name {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

agm-map {
  height: 400px;
}

agm-map2 {
  height: 250px;
}

.agm-map {
  margin-top: 5px;
}

.decription {
  margin-top: 5px;
  padding: 0px 30px 1px;
}

.lbl {
  text-align: right !important;
  /* margin-left: -133px; */
  margin-right: 480px;
  color: #6c757d;
}

.email_button {
  width: 100% !important;
  background-color: #25bda4;
  border: #25bda4;
  color: white;
  height: 35px;
  border-radius: 5px;
}

.message {
  width: 100%;
  height: 100px;
  border-color: #cccccc;
}

@media (max-width: 768px) {
  .postal {
    width: 100%;
  }

  .email {
    width: 100%;
  }

  .telephone {
    width: 100%;
  }

  .banner {
    width: 100%;
  }


  .agm-map {
    width: 100%
  }
}
