<div class="container mb-2">
  <div class="form-group"></div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [gestureHandling]="gesture" [mapTypeControl]=true
    (mapReady)="mapReady($event)">

    <input id="search" placeholder="Search for location" type="text" class="form-control searchControl" #search [formControl]="searchControl">

    <agm-marker [latitude]="mlatitude" [longitude]="mlongitude" [markerDraggable]=true (dragEnd)="getMarkerPosition($event)">
    </agm-marker>
  </agm-map>

  <br>

  <div class="form-row">
    <div class="form-group input-group col-md-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Lat</div>
      </div>
      <input class="form-control mr-2" id="disabledInput" type="text" placeholder="{{ mlatitude }}" disabled>
    </div>
    <div class="form-group input-group col-md-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Lng</div>
      </div>
      <input class="form-control mr-2" id="disabledInput" type="text" placeholder="{{ mlongitude }}" disabled>
    </div>
    <div class="form-group input-group col-md-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Location: </div>
      </div>
      <input class="form-control mr-2" name="location" id="location" type="text" value="{{ location }}" [(ngModel)]="location"
        #loc="ngModel" required>
      <div *ngIf="loc.invalid && (loc.dirty || loc.touched)" class="invalid-feedback">
        <div *ngIf="loc.errors.required">
          Location is required.
        </div>
      </div>
    </div>
    <div class="form-group input-group col-md-3">
      <div class="input-group-prepend">
        <div class="input-group-text">City: </div>
      </div>
      <input class="form-control" name="city" id="disabledInput" type="text" placeholder="{{ city }}" disabled>
    </div>
  </div>

  <br>

  <form #propForm="ngForm">
    <div class="form-row">
      <div class="form-group">
        <!-- Property Type Selection -->
        <select id="inputType" class="form-control" name="type" [(ngModel)]="type">
          <option value="0">Select Type</option>
          <option value="0">--------- Homes ---------</option>
          <option value="House">House</option>
          <option value="Flat">Flat</option>
          <option value="Upper Portion">Upper Portion</option>
          <option value="Lower Portion">Lower Portion</option>
          <option value="Farm House">Farm House</option>
          <option value="Room">Room</option>
          <option value="Penthouse">Penthouse</option>
          <option value="0">--------- Plots ---------</option>
          <option value="Residential Plot">Residential Plot</option>
          <option value="Commercial Plot">Commercial Plot</option>
          <option value="Agricultural Land">Agricultural Land</option>
          <option value="Industrial Land">Industrial Land</option>
          <option value="Plot File">Plot File</option>
          <option value="Plot Form">Plot Form</option>
          <option value="0">--------- Commercial ---------</option>
          <option value="Office">Office</option>
          <option value="Shop">Shop</option>
          <option value="Warehouse">Warehouse</option>
          <option value="Factory">Factory</option>
          <option value="Building">Building</option>
          <option value="Other">Other</option>
        </select>
        <!-- End Property Type Selection -->
      </div>
      <div *ngIf="type != '0'" class="form-group col-md-3">
        <!-- Property # Selection -->
        <input type="text" class="form-control" name="propNumber" id="inputPropNumber" placeholder="{{ type }} #" [(ngModel)]="propNumber"
          #pNum="ngModel" required>
        <div *ngIf="pNum.invalid && (pNum.dirty || pNum.touched)" class="invalid-feedback">
          <div *ngIf="pNum.errors.required">
            {{ type }} # is required.
          </div>
        </div>
      </div>
      <div *ngIf="type != '0'" class="form-group col-md-3">
        <!-- Street # Selection -->
        <input type="text" class="form-control" name="street" id="inputStreet" placeholder="Street # (optional)" [(ngModel)]="street">
      </div>
      <!-- End Street # Selection -->
    </div>
    <div class="form-row">
      <div class="form-group input-group col-md-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Rs.</div>
        </div>
        <input type="text" class="form-control" name="demand" id="inputDemand" placeholder="Demand" [(ngModel)]="demand" #price="ngModel"
          required>
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="invalid-feedback">
          <div *ngIf="price.errors.required">
            Demand is required.
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" name="area" id="inputArea" placeholder="Land Area" [(ngModel)]="area" #ar="ngModel"
          required>
        <div *ngIf="ar.invalid && (ar.dirty || ar.touched)" class="invalid-feedback">
          <div *ngIf="ar.errors.required">
            Area is required.
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <select id="inputSize" class="form-control" name="areaType" [(ngModel)]="areaType">
          <option value="sqft">Sq. Feet</option>
          <option value="marla">Marla</option>
          <option value="kanal">Kanal</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <button class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i> Add Features</button>
      </div>
    </div>

    <div class="form-row mb-1">
      <div class="form-group col-md-6">
        <input type="text" placeholder="Property Title" name="title" [(ngModel)]="title" class="form-control" id="inputTitle" #headline="ngModel"
          required>
        <div *ngIf="headline.invalid && (headline.dirty || headline.touched)" class="invalid-feedback">
          <div *ngIf="headline.errors.required">
            Title is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row mb-3">
      <div [froalaEditor] [(froalaModel)]="description">Write description here!</div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-3">
        <input type="url" placeholder="Paste YouTube Video Url" name="vidUrl" [(ngModel)]="vidUrl" class="form-control" id="inputVidUrl">
      </div>
      <div class="form-group col-md-3">
        <ngx-uploadcare-widget public-key="dbed02bb1fcce3f1a79d" images-only="true" tabs="file" clearable="false" multiple="true"
          (on-upload-complete)="onImgUpload($event)">
        </ngx-uploadcare-widget>
      </div>
    </div>

    <div class="form-row mb-5">
      <div class="text-center">
        <button (click)="save()" class="btn btn-danger" [disabled]="!propForm.valid">Post Ad</button>
      </div>
    </div>

  </form>

</div>