/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@media (max-width: 600px) {
    .i-embedded-chat {
      margin: 10px !important;
      width:100% !important;
      height:100% !important;
    }
  }

.irs-from, 
.irs-to, 
.irs-single,
.irs-bar {
    background: #25BDA4;
}

.ngx-editor .ngx-wrapper .ngx-editor-textarea {
    min-height: 5rem!important;
}

ng-select {
    width: 150px;
}