<!-- Modal HTML -->
<div id="signinModel" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign In/Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div *ngIf="regForm" class="form-group">
            <i class="fas fa-user-edit"></i>
            <input type="name" class="form-control" name="name" placeholder="Enter name" [(ngModel)]="name" />
          </div>
          <div class="form-group">
            <i class="fa fa-user"></i>
            <input type="email" class="form-control" name="email" placeholder="Email" required="required"
              [(ngModel)]="credentials.email" />
          </div>
          <div *ngIf="regForm" class="form-group">
            <i class="fas fa-mobile-alt"></i>
            <input type="text" class="form-control" name="phone" placeholder="Enter mobile no." [(ngModel)]="phone" />
          </div>
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <input type="password" class="form-control" name="password" required="required" placeholder="Password"
              [(ngModel)]="credentials.password" />
          </div>
          <div *ngIf="regForm" class="form-group">
            <i class="fa fa-lock"></i>
            <input type="password" class="form-control" name="reenterpassword" placeholder="Type Password Again"
              [(ngModel)]="repassword" />
          </div>
          <div *ngIf="credentials.password !== repassword && regForm" class="text-danger">
            *Password not match!!!
          </div>
          <div *ngIf="invalid && regForm" class="text-danger">
            *Please fill all fields!!!
          </div>

          <input type="submit" *ngIf="!regForm" (click)="login()" data-dismiss="modal"
            class="btn btn-primary btn-block btn-lg" value="Login" style="background-color: #25bda4;" />
          <input type="submit" *ngIf="regForm" (click)="registerCustomer()" data-dismiss="modal"
            class="btn btn-primary btn-block btn-lg" value="Register!" style="background-color: #25bda4;" />

          <div class="ec83267e" *ngIf="!regForm">Are you new to ASASA?</div>
          <input type="submit" (click)="reg()" *ngIf="!regForm" class="btn_login btn-primary btn-block btn-lg"
            value="BECOME A FREE MEMBER"
            style="color: black !important;    border-color: #25bda4 !important;    background: transparent !important;" />
        </form>
        <input type="submit" (click)="reg()" *ngIf="regForm" class="btn_login btn-primary btn-block btn-lg"
          value="SIGN IN" style="background-color: #25bda4;    margin-top: 5px;" />

      </div>

      <div class="modal-footer">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
