<!-- Modal HTML -->
<div id="signinModel" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign In/Register</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div *ngIf="regForm" class="form-group">
            <i class="fas fa-user-edit"></i>
            <input
              type="name"
              class="form-control"
              name="name"
              placeholder="Enter name"
              [(ngModel)]="name"
            />
          </div>
          <div class="form-group">
            <i class="fa fa-user"></i>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              required="required"
              [(ngModel)]="credentials.email"
            />
          </div>
          <div *ngIf="regForm" class="form-group">
            <i class="fas fa-mobile-alt"></i>
            <input
              type="text"
              class="form-control"
              name="phone"
              placeholder="Enter mobile no."
              [(ngModel)]="phone"
            />
          </div>
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              class="form-control"
              name="password"
              required="required"
              placeholder="Password"
              [(ngModel)]="credentials.password"
            />
          </div>
          <div *ngIf="regForm" class="form-group">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              class="form-control"
              name="reenterpassword"
              placeholder="Type Password Again"
              [(ngModel)]="repassword"
            />
          </div>
          <div
            *ngIf="credentials.password !== repassword && regForm"
            class="text-danger"
          >
            *Password not match!!!
          </div>
          <div *ngIf="invalid && regForm" class="text-danger">
            *Please fill all fields!!!
          </div>

          <input
            type="submit"
            *ngIf="!regForm"
            (click)="login()"
            data-dismiss="modal"
            class="btn btn-primary btn-block btn-lg"
            value="Login"
            style="background-color: #25bda4;"
          />
          <input
            type="submit"
            *ngIf="regForm"
            (click)="registerCustomer()"
            data-dismiss="modal"
            class="btn btn-primary btn-block btn-lg"
            value="Register!"
            style="background-color: #25bda4;"
          />

          <div class="ec83267e" *ngIf="!regForm">Are you new to ASASA?</div>
          <input
            type="submit"
            (click)="reg()"
            *ngIf="!regForm"
            class="btn_login btn-primary btn-block btn-lg"
            value="BECOME A FREE MEMBER"
            style="color: black !important;    border-color: #25bda4 !important;    background: transparent !important;"
          />
        </form>
        <input
          type="submit"
          (click)="reg()"
          *ngIf="regForm"
          class="btn_login btn-primary btn-block btn-lg"
          value="SIGN IN"
          style="background-color: #25bda4;    margin-top: 5px;"
        />

        <!-- <form action="/examples/actions/confirmation.php" method="post">

          <div class="form-group">
            <i class="fa fa-user"></i>
            <input type="text" class="form-control" placeholder="Email" required="required">
          </div>
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <input type="password" class="form-control" placeholder="Password" required="required">
          </div>
          <div class="form-group">
            <input type="submit" *ngIf="!regForm" (click)="login()" data-dismiss="modal"
              class="btn btn-primary btn-block btn-lg" value="Login" style="background-color: #25bda4;">
          </div>
          <div class="ec83267e">Are you new to ASASA?</div>
          <div class="form-group">
            <input type="submit" (click)="reg()" class="btn_login btn-primary btn-block btn-lg"
              value="BECOME A FREE MEMBER"
              style="color: black !important;    border-color: #25bda4 !important;    background: transparent !important;">
          </div>
        </form> -->
      </div>

      <div class="modal-footer">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- <div class="modal fade" id="signinModel" tabindex="-1" role="dialog" aria-labelledby="signinModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signinModelLabel">Sign In/Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <p *ngIf="!regForm" class="lead">Not a member? Please <a (click)="reg()"
                class="btn btn-outline-success btn-sm">register</a> instead.</p>
            <p *ngIf="regForm" class="lead">Already a member? Please <a (click)="reg()"
                class="btn btn-outline-success btn-sm">login</a> instead.</p>

            <form>
              <div *ngIf="regForm" class="form-group">
                <label for="name">Your Name</label>
                <input type="name" class="form-control" name="name" placeholder="Enter name" [(ngModel)]="name">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email"
                  [(ngModel)]="credentials.email">
              </div>
              <div *ngIf="regForm" class="form-group">
                <label for="phone">Mobile No</label>
                <input type="text" class="form-control" name="phone" placeholder="Enter mobile no." [(ngModel)]="phone">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password"
                  [(ngModel)]="credentials.password">
              </div>
              <div *ngIf="regForm" class="form-group">
                <label for="password">Type Password Again</label>
                <input type="password" class="form-control" name="reenterpassword" placeholder="Type Password Again"
                  [(ngModel)]="repassword">
              </div>
              <div *ngIf="(credentials.password !== repassword) && regForm" class="text-danger">*Password not match!!!
              </div>
              <div *ngIf="invalid && regForm" class="text-danger">*Please fill all fields!!!</div>

              <button *ngIf="!regForm" (click)="login()" data-dismiss="modal" class="btn btn-default">Sign in!</button>
              <button *ngIf="regForm" (click)="registerCustomer()" class="btn btn-default">Register!</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Modal -->
<!-- <style>
  .form-dark .font-small {
    font-size: 0.8rem;
  }

  .form-dark [type="radio"]+label,
  .form-dark [type="checkbox"]+label {
    font-size: 0.8rem;
  }

  .form-dark [type="checkbox"]+label:before {
    top: 2px;
    width: 15px;
    height: 15px;
  }

  .form-dark .md-form label {
    color: #fff;
  }

  .form-dark input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
  }

  .form-dark input[type=email]:focus:not([readonly])+label {
    color: #fff;
  }

  .form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
  }

  .form-dark input[type=password]:focus:not([readonly])+label {
    color: #fff;
  }

  .form-dark input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .form-dark input[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  .form-dark .modal-header1 {
    border-bottom: none;
  }

</style> -->
