<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary btn-sm ml-2 btnFilter"
  data-toggle="modal"
  data-target="#searchFilterModal"
>
  <i class="fas fa-bars"></i> Filter
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="searchFilterModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="searchFilterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchFilterModalLabel">Filters</h5>
        <a
          class="btn btn-default btn-sm"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <!-- Property Type Filter -->
        <!-- <div class="form-row mb-2">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input radio-custom" type="radio" name="propertyOption" id="propertyOption1"
                value="house" [(ngModel)]="filterOpts.type">
              <label class="form-check-label radio-custom-label" for="propertyOption1">House</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input radio-custom" type="radio" name="propertyOption" id="propertyOption2"
                value="plot" [(ngModel)]="filterOpts.type">
              <label class="form-check-label radio-custom-label" for="propertyOption2">Plot</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input radio-custom" type="radio" name="propertyOption" id="propertyOption3"
                value="commercial" [(ngModel)]="filterOpts.type">
              <label class="form-check-label radio-custom-label" for="propertyOption3">Commercial</label>
            </div>
          </div>
        </div> -->

        <!-- Price Filter -->
        <h5>Price</h5>
        <form class="form-inline">
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Rs.</div>
            </div>
            <input
              type="text"
              class="form-control"
              name="lowPrice"
              [(ngModel)]="filterOpts.lowPrice"
            />
          </div>

          <div class="input-group mb-2 mr-sm-2">
            <b>To</b>
          </div>

          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Rs.</div>
            </div>
            <input
              type="text"
              class="form-control"
              name="highPrice"
              [(ngModel)]="filterOpts.highPrice"
            />
          </div>
        </form>

        <!-- Area Filter -->
        <h5>Area</h5>
        <select class="form-control mb-2" [(ngModel)]="filterOpts.areaUnit">
          <option value="">Select Area Unit</option>
          <option value="sqft">Sq. Feet</option>
          <option value="marla">Marla</option>
          <option value="kanal">Kanal</option>
        </select>

        <form class="form-inline">
          <div class="input-group mb-2 mr-sm-2">
            <input
              type="text"
              class="form-control"
              name="lowArea"
              [(ngModel)]="filterOpts.lowArea"
            />
          </div>

          <div class="input-group mb-2 mr-sm-2">
            <b>To</b>
          </div>

          <div class="input-group mb-2 mr-sm-2">
            <input
              type="text"
              class="form-control"
              name="highArea"
              [(ngModel)]="filterOpts.highArea"
            />
          </div>
        </form>

        <h5 *ngIf="isHouse">Rooms</h5>
        <select
          *ngIf="isHouse"
          class="form-control"
          (change)="changingValue($event)"
          [(ngModel)]="totalRooms"
        >
          <option *ngFor="let i of rooms" value="{{ i.value }}">{{
            i.rooms
          }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger btn-sm"
          data-dismiss="modal"
          (click)="reset()"
        >
          Reset
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="filter()"
        >
          Apply Filter
        </button>
      </div>
    </div>
  </div>
</div>
