.imgSize {
  width: 240px;
  height: 185px;
  margin-bottom: 5px;
}

.text-style {
  font-weight: bold;
  font-size: 1.2rem;
}
.col-md-3 {
  display: grid;
}
@media (max-width: 768px) {
  .container {
    width: 100% !important;
    height: 0% !important;
  }
  .col-md-3 {
    justify-items: center;
  }
}
