<div class="container text-center mt-3">
  <h2 class="header">Why choose Asasa.com?</h2>
  <p>Our unique features differentiate us from the whole market!!</p>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-3">
      <video
        width="255"
        height="185"
        muted
        autoplay
        loop
        style="object-fit: fill"
      >
        <source src="/assets/images/Map.mp4" type="video/mp4" />
      </video>
      <!-- <mat-video
        [autoplay]="true"
        [loop]="true"
        [preload]="true"
        [fullscreen]="false"
        [overlay]="false"
        [quality]="false"
        spinner="false"
        src="/assets/images/Map.mp4"
      ></mat-video> -->
      <!-- <img src="assets/images/rsz_em_map1.jpg" class="imgSize" width="50" /> -->
      <p class="text-style">Property maps embeded on Google Map</p>
    </div>

    <div class="col-md-3">
      <!-- <img src="assets/images/360.gif" class="imgSize" /> -->
      <video
        width="255"
        height="185"
        muted
        autoplay
        loop
        style="object-fit: fill"
      >
        <source src="/assets/images/360_vid.mp4" type="video/mp4" />
      </video>
      <!-- <mat-video
        [autoplay]="true"
        [loop]="true"
        [preload]="true"
        [fullscreen]="false"
        [overlay]="false"
        [quality]="false"
        spinner="false"
        src="/assets/images/360_vid.mp4"
      ></mat-video> -->
      <p class="text-style">360&deg; Virtual Tours</p>
    </div>
    <div class="col-md-3">
      <video
        width="255"
        height="185"
        muted
        autoplay
        loop
        style="object-fit: fill"
      >
        <source src="/assets/images/Pin_Trim.mp4" type="video/mp4" />
      </video>
      <!-- <mat-video
        [autoplay]="true"
        [loop]="true"
        [preload]="true"
        [fullscreen]="false"
        [overlay]="false"
        [quality]="false"
        spinner="false"
        src="/assets/images/Pin_Trim.mp4"
      ></mat-video> -->
      <!-- <img src="assets/images/rsz_pin3.jpg" class="imgSize" /> -->
      <p class="text-style">Exact property location pins</p>
    </div>

    <div class="col-md-3">
      <video
        width="255"
        height="185"
        muted
        autoplay
        loop
        style="object-fit: fill"
      >
        <source src="/assets/images/verified.mp4" type="video/mp4" />
      </video>
      <!-- <mat-video
        [autoplay]="true"
        [loop]="true"
        [preload]="true"
        [fullscreen]="false"
        [overlay]="false"
        [quality]="false"
        spinner="false"
        src="/assets/images/verified.mp4"
      ></mat-video> -->
      <!-- <img src="assets/images/verified.gif" class="imgSize" /> -->
      <p class="text-style">Verified properties</p>
    </div>
  </div>
</div>
