<div class="container text-center mt-3">
  <h2 class="header">Why choose Asasa.com?</h2>
  <p>Our unique features differentiate us from the whole market!!</p>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col-md">
      <img src="assets/images/em_map1.jpg" class="imgSize" width="50">
      <p class="text-style">Property maps embeded on Google Map</p>
    </div>
    <div class="col-md">
      <img src="assets/images/pin3.jpg" class="imgSize">
      <p class="text-style">Exact property location pins</p>
    </div>
    <div class="col-md">
      <img src="assets/images/360_1.jpg" class="imgSize">
      <p class="text-style">360&deg; Virtual Tours</p>
    </div>
    <div class="col-md">
      <img src="assets/images/img1.jpg" class="imgSize">
      <p class="text-style">Verified properties</p>
    </div>
  </div>
</div>
