<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/asasa_logo.png" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto left-nav">
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link dropdown-toggle"  data-toggle="collapse" routerLink="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li [routerLinkActive]="['active']"  data-toggle="collapse" class="nav-item">
        <a class="nav-link dropdown-toggle" href="#">Buy</a>
      </li>
      <li [routerLinkActive]="['active']"  data-toggle="collapse" class="nav-item">
        <a class="nav-link dropdown-toggle" href="#">Rent</a>
      </li>
      <li [routerLinkActive]="['active']"  data-toggle="collapse" class="nav-item">
        <a class="nav-link dropdown-toggle" href="#">Sell</a>
      </li>
      <li [routerLinkActive]="['active']"  data-toggle="collapse" class="nav-item">
        <a class="nav-link dropdown-toggle" href="#">New Projects</a>
      </li>
      <li [routerLinkActive]="['active']"  data-toggle="collapse" class="nav-item">
        <a class="nav-link dropdown-toggle" href="#">House Architecture</a>
      </li>
      <li class="nav-item">
        <div *ngIf="!auth.isLoggedIn()" class="nav-link dropdown-toggle call">Call Now: +92-311-2233656</div>
      </li>
    </ul>
    <ul class="navbar-nav pull-right right-nav">
      <li *ngIf="!auth.isLoggedIn()" class="nav-item">
        <a class="nav-link dropdown-toggle sign-in"  data-toggle="collapse" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Sign In</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link dropdown-toggle"  data-toggle="collapse" routerLink="/dashboard"><i class="fas fa-toolbox fa-2x"></i> Dashboard</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link dropdown-toggle logout"  data-toggle="collapse" (click)="auth.logout()"><i class="fas fa-sign-out-alt fa-2x"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>