<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/asasa_logo.png" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navContent">
    <ul class="navbar-nav mr-auto left-nav">
      <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" routerLink="/">Find Your Best Property</a>
      </li>
      <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" href="#">Find Rental Property</a>
      </li>
      <li data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" routerLink="/" onclick="openForm(); return false;">Add Property FREE</a>
      </li>
      <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" href="#">Discover New Projects</a>
      </li>
      <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" href="#">House Architecture</a>
      </li>
      <!-- <li class="nav-item">
        <div *ngIf="!auth.isLoggedIn()" class="nav-link"><i class="fas fa-mobile-alt"></i> +92-311-2233656</div>
      </li> -->
    </ul>
    <ul class="navbar-nav pull-right right-nav">
      <li *ngIf="!auth.isLoggedIn()" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link sign-in" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Sign In</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" routerLink="/dashboard"><i class="fas fa-toolbox fa-2x"></i> Dashboard</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link logout" (click)="auth.logout()"><i class="fas fa-sign-out-alt fa-2x"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>