<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/asasa_logo.png" class="logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
    aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navContent">
    <ul class="navbar-nav mr-auto left-nav">
      <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" routerLink="/">Find Your Best Property</a>
      </li>
      <!-- <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" href="#">Find Rental Property</a>
      </li> -->
      <li data-toggle="collapse" data-target="#navContent" class="nav-item">
        <!-- onclick="openForm(); return false;" -->
        <a class="nav-link" routerLink="/" (click)="openDeleteModal(confirmation,i,data)">Add Property FREE</a>
      </li>
      <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" href="#">Discover New Projects</a>
      </li>
      <li [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" href="#">House Architecture</a>
      </li>
      <!-- <li class="nav-item">
        <div *ngIf="!auth.isLoggedIn()" class="nav-link"><i class="fas fa-mobile-alt"></i> +92-311-2233656</div>
      </li> -->
    </ul>

    <ul class="navbar-nav pull-right right-nav">
      <li *ngIf="!auth.isLoggedIn()" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <div class="nav-link sign-in" style="    color: #ececec;
        background: #25bda4;">
          <!-- Button trigger modal -->
          <div data-toggle="modal" data-target="#signinModel">
            <i class="fas fa-sign-in-alt"></i> Sign In/Register
          </div>
        </div>
      </li>
      <li *ngIf="auth.isLoggedIn()" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link" routerLink="/dashboard/profile"><i class="fas fa-toolbox fa-2x"></i> Dashboard</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" data-toggle="collapse" data-target="#navContent" class="nav-item">
        <a class="nav-link logout" (click)="auth.logout()"><i class="fas fa-sign-out-alt fa-2x"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<signin></signin>
<ng-template #confirmation>
  <div class="modal-header _600" style="display: block !important">
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    {{'Add Property'}}</div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="name" class="form-control" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="phone" class="form-control" name="phone" placeholder="Phone" required>
      </div>
      <div class="form-group">
        <select name="city" class="form-control" (change)="getCityLocs($event.target.value)">
          <option value="">Select City</option>
          <option *ngFor="let listing of cities" [value]="listing._id">
            {{listing.city}}</option>
        </select>
      </div>

      <div class="form-group">
        <select name="city" class="form-control" (change)="getCityLocs($event.target.value)">
          <option value="">Location</option>
          <option *ngFor="let listing of locations" [value]="listing._id">
            {{listing.location}}</option>
        </select>
      </div>
      <div class="form-group">
        <select name="city" class="form-control">
          <option value="">Property Type</option>
          <option value="c_b">Commercial Building</option>
          <option value="c_p">Commercial Plot</option>
          <option value="r_p">Residential Plot</option>
          <option value="house">House</option>
          <option value="appartment">Appartment</option>
        </select>
      </div>
      <div class="form-group">
        <input type="area" class="form-control" name="area" placeholder="Area" required>
      </div>
      <div class="form-group">
        <input type="demand" [textMask]="{ mask: numberMask }" class="form-control" name="demand" placeholder="Demand"
          required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="closeModal()" class="btn btn-line" data-dismiss="modal">Cancel</button>
    <button type="button" id="addfeatures" class="btn btn-primary" style="    background-color: #25bda4;
    border: #25bda4;">Add Property</button>
  </div>
</ng-template>
