<div class="form-row" id="grid1">
  <div class="form-group col-md-3">
    <label for="inputCity"></label>
    <select id="inputCity" class="form-control">
      <option selected>Select City</option>
      <option>...</option>
    </select>
  </div>
  <div class="form-group col-md-3">
    <label for="inputType"></label>
    <input type="text" class="form-control" id="inputLocation" placeholder="Enter location here">
  </div>
  <div class="form-group col-md-2">
    <label for="inputType"></label>
    <a href="#" class="btn btn-md btn-primary form-control">
      <span>Search Property</span>
    </a>
  </div>
  <div class="form-group col-md-2">
    <label for="inputType"></label>
    <a href="#" class="btn btn-md btn-primary form-control">
      <span>Advanced Search</span>
    </a>
  </div>

</div>