<div class="background">
  <ul class="slideshow">
    <li><span style="top: 15px !important;">Slide One</span></li>
    <li><span style="top: 15px !important;">Slide Two</span></li>
    <li><span style="top: 15px !important;">Slide Three</span></li>
    <li><span style="top: 15px !important;">Slide Four</span></li>
  </ul>
  <!-- *ngIf="num < 1100" -->
  <div class="mt-2 form-inline" [ngClass]="{ searchBar: !searchBarFixed, fixedSearchBar: searchBarFixed }"
    [ngStyle]="mapSearchBar && { display: 'none' }">
    <ng-select #city [items]="cities" bindLabel="city" bindValue="_id" class="mr-2 ml-2" placeholder="Select City"
      [(ngModel)]="selectedCity" (change)="cityChange($event)">
    </ng-select>

    <ng-select *ngIf="selectedCity" [items]="locations" bindLabel="location" bindValue="_id"
      class="mr-2 ml-2 selectLocation" placeholder="Search Location" [(ngModel)]="selectedLocation"
      (change)="locationChange($event)" [disabled]="!selectedCity">
    </ng-select>

    <!-- <div class="form-group">
    <div class="form-check form-check-inline">
      <input class="form-check-input radio-custom" type="radio" name="propertyOptionHome"
       id="propertyOption1" value="house" [(ngModel)]="selectedType"
       (change)="typeChange($event)">
      <label class="form-check-label radio-custom-label" for="propertyOption1">House</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input radio-custom" type="radio" name="propertyOptionHome" id="propertyOption2" value="plot"
        [(ngModel)]="selectedType" (change)="typeChange($event)">
      <label class="form-check-label radio-custom-label" for="propertyOption2">Plot</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input radio-custom" type="radio" name="propertyOptionHome" id="propertyOption3" value="commercial"
        [(ngModel)]="selectedType" (change)="typeChange($event)">
      <label class="form-check-label radio-custom-label" for="propertyOption3">Commercial</label>
    </div>
  </div> -->

    <div class="dropdown ml-2 mr-2 mt-1">
      <button *ngIf="selectedCity" class="btn btn-outline-secondary dropdown-toggle1" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        (click)="hideDropDown()">
        Select Property Type
      </button>
      <div class="dropdown-menu keepopen" aria-labelledby="dropdownMenuButton">
        <div class="tabbable-line">
          <ul class="nav nav-tabs">
            <li>
              <a href="#home" data-toggle="tab" class="active"> Home </a>
            </li>
            <li>
              <a href="#plot" data-toggle="tab"> Plot </a>
            </li>
            <li>
              <a href="#commercial" data-toggle="tab"> Commercial </a>
            </li>
          </ul>
          <div class="tab-content" (click)="typeChange($event)">
            <div class="tab-pane active" id="home">
              <a class="btn btn-outline-success btn-sm">House</a>
              <a class="btn btn-outline-success btn-sm">Flat</a>
              <a class="btn btn-outline-success btn-sm">Upper Portion</a>
              <a class="btn btn-outline-success btn-sm">Lower Portion</a>
              <a class="btn btn-outline-success btn-sm">Farm House</a>
              <a class="btn btn-outline-success btn-sm">Room</a>
              <a class="btn btn-outline-success btn-sm">Penthouse</a>
            </div>
            <div class="tab-pane" id="plot">
              <a class="btn btn-outline-success btn-sm">Residential Plot</a>
              <a class="btn btn-outline-success btn-sm">Commercial Plot</a>
              <a class="btn btn-outline-success btn-sm">Agricultural Land</a>
              <a class="btn btn-outline-success btn-sm">Industrial Land</a>
              <a class="btn btn-outline-success btn-sm">Plot File</a>
              <a class="btn btn-outline-success btn-sm">Plot Form</a>
            </div>
            <div class="tab-pane" id="commercial">
              <a class="btn btn-outline-success btn-sm">Office</a>
              <a class="btn btn-outline-success btn-sm">Shop</a>
              <a class="btn btn-outline-success btn-sm">Warehouse</a>
              <a class="btn btn-outline-success btn-sm">Factory</a>
              <a class="btn btn-outline-success btn-sm">Building</a>
              <a class="btn btn-outline-success btn-sm">Other</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <search-filter class="mt-1 mr-2"></search-filter>

    <!-- <button
      *ngIf="listView && num >= 600"
      (click)="listViewClicked()"
      class="btn btn-info btn-sm mt-1 mr-1 ml-2"
    >
      <i class="fas fa-th-list"></i> List View
    </button>

    <button
      *ngIf="mapView && num >= 600"
      (click)="mapViewClicked()"
      class="btn btn-info btn-sm mt-1 mr-1 ml-2 "
    >
      <i class="fas fa-th-list"></i> Map View
    </button> -->
    <button [disabled]="!selectedCity" (click)="search()" class="btn btn-info btn-sm mt-1 mr-1 ml-2 btnSearch">
      <i class="fa fa-search"></i> Search
    </button>
  </div>
</div>
