<section class="banner">
  <h1 class="heading">Asasa.com Help Center</h1>
</section>
<section class="container mt20 about-us">
  <div class="aboutus-inner" style=" margin-top: 10px">
    <article class="left">
      <h4 style="color:#25bda4">
        <img src="assets/images/question.svg" width="35" /> 1. WHAT IS
        ASASA.COM?
      </h4>
      <p style="margin-left: 40px;padding-top: 5px">
        <img src="assets/images/answer.png" width="35" /> We are a house hold
        name in property sector of Islamabad and have been operating in property
        sector of neighboring cities for the last 12 years. We have strived hard
        to provide transparent and profit oriented property services to our
        esteemed clients in the most professional and customer friendly manner.
        We have handpicked a dedicated team of real estate veterans who have
        been involved in thousands of successful deals in the real sector of
        capital city. We have helped thousands of clients get maximum value for
        their investment and have enabled our commercial clients to acquire a
        promising place to get on with their business. We are specialists in the
        areas of Bahria Town Phase-1 to 8, all sectors of DHA and all over CDA
        Islamabad.
      </p>
    </article>
  </div>
</section>
<section class="container mt20 about-us">
  <div class="aboutus-inner" style=" margin-top: 10px">
    <article class="left">
      <h4 style="color:#25bda4">
        <img src="assets/images/question.svg" width="35" /> 2. What payment
        options are available?
      </h4>
      <p style="margin-left: 40px;padding-top: 5px">
        <img src="assets/images/answer.png" width="35" /> You can make payments
        by depositing cash, cheque or wire/transfer the funds directly into our
        bank account. Wiring instructions and bank account details will be
        provided at the time of payment.
      </p>
    </article>
  </div>
</section>
<section class="container mt20 about-us">
  <div class="aboutus-inner" style=" margin-top: 10px">
    <article class="left">
      <h4 style="color:#25bda4">
        <img src="assets/images/question.svg" width="35" /> 3. What are users
        (agency staff)?
      </h4>
      <p style="margin-left: 40px;padding-top: 5px">
        <img src="assets/images/answer.png" width="35" /> As an approved agent
        on Asasa.com, you can add and manage all of your agency staff, teams,
        clients and leads effortlessly with the help of various management tools
        available at your control panel under the “Agency Staff” tab. You can
        add new users and allocate different rights and privileges to each one
        of them. These users can log in (as your agency staff) from their
        different login IDs and perform the tasks assigned by you e.g.
        contacting clients, managing leads and sales, etc.
      </p>
    </article>
  </div>
</section>
<section class="container mt20 about-us">
  <div class="aboutus-inner" style=" margin-top: 10px">
    <article class="left">
      <h4 style="color:#25bda4">
        <img src="assets/images/question.svg" width="35" /> 4. What are teams?
      </h4>
      <p style="margin-left: 40px;padding-top: 5px">
        <img src="assets/images/answer.png" width="35" /> Teams are a number of
        your agency staff working as a group to perform particular tasks
        assigned by you as the agency owner or team administrator. As an example
        if you have a total of 10 users listed as your agency staff, you can
        divide them in two different teams such as sales and rentals team
        consisting of 5 members each. You can allocate staff to these teams
        according to their qualifications, experience or credentials, where each
        of these teams will be responsible for their specific tasks related to
        listings, follow-ups and inquiries etc on Asasa.com. Remember that a
        particular staff can be a member of one team at a time and cannot exist
        simultaneously in multiple teams.
      </p>
    </article>
  </div>
</section>
<section class="container mt20 about-us">
  <div class="aboutus-inner" style=" margin-top: 10px">
    <article class="left">
      <h4 style="color:#25bda4">
        <img src="assets/images/question.svg" width="35" /> 5. What is a lead?
      </h4>
      <p style="margin-left: 40px;padding-top: 5px">
        <img src="assets/images/answer.png" width="35" /> A lead (also known as
        sales/rental-lead) is a message or inquiry received from a potential
        customer that may help you to covert that person (or business) into a
        sales’ prospect and eventually generate sales. In short a lead is the
        first step towards making actual sales. At ASASA you will be getting a
        steady stream of inquiries via phone and e-mails (sent by those who are
        interested in buying or renting the properties you’ve listed at ASASA),
        you can save these inquiries as leads and work on them to lure these
        potential customers into buying or renting from you.
      </p>
    </article>
  </div>
</section>
<section class="container mt20 about-us">
  <div class="aboutus-inner" style=" margin-top: 10px">
    <article class="left">
      <h4 style="color:#25bda4">
        <img src="assets/images/question.svg" width="35" /> 6. What is a client?
      </h4>
      <p style="margin-left: 40px;padding-top: 5px">
        <img src="assets/images/answer.png" width="35" /> Clients are your
        customers or people interested in your property and in general are of
        two types. The first type is one who has already dealt with you in the
        past i.e. an existing customer and the second type is a person who can
        be a potential customer and has contacted you via your listing at ASASA.
      </p>
    </article>
  </div>
</section>
<asasa-footer class="footer"></asasa-footer>
