<p><b>Healthcare Recreational</b></p>
<form>
  <div class="form-row">
    <div class="form-group">

      <!-- Lawn or Garden -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="lawn" name="lawn">
        <label class="custom-control-label" for="lawn">Lawn or Garden</label>
      </div>
      <ng-template [ngIf]="type == 'house'">
        <!-- Swimming Pool -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="pool" name="pool">
          <label class="custom-control-label" for="pool">Swimming Pool</label>
        </div>
        <!-- Sauna -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sauna" name="sauna">
          <label class="custom-control-label" for="sauna">Sauna</label>
        </div>
        <!-- Jacuzzi -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="jacuzzi" name="jacuzzi">
          <label class="custom-control-label" for="jacuzzi">Jacuzzi</label>
        </div>
      </ng-template>
      <!-- Other Healthcare and Recreational Facilities -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Other Facilities: </div>
        </div>
        <input type="text" class="form-control" id="other-healthcare" name="other-healthcare">
      </div>

    </div>
  </div>
</form>