.box {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 25px; 
    width: 60%;
    opacity: 0.8;
}

input {
    margin-bottom: 0px;
}

ion-range-slider {
    width: 200px;
    margin-right: 30px;
}

.start-here {
    position: absolute;
    left: 3px;
    top: 85px;
    transform: rotate(64deg);
}

.start-here img {
    width: 142px;
}

@media only screen and (max-width: 1024px) {
    .start-here {
        display: none;
    }
}