<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h5>Asasa.com</h5>
        <ul class="list-unstyled text-small">
          <li>
            <i class="fas fa-map-marker-alt"></i> Address</li>
          <li>
            <i class="fas fa-phone-square"></i> 0311-5868311</li>
          <li>
            <i class="fas fa-envelope"></i> info@asasa.com</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Company</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">About Us</a>
          </li>
          <li>
            <a class="text-muted" href="#">Contact Us</a>
          </li>
          <li>
            <a class="text-muted" href="#">Help & Support</a>
          </li>
          <li>
            <a class="text-muted" href="#">Term of Use</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Connect</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">News</a>
          </li>
          <li>
            <a class="text-muted" href="#">Blog</a>
          </li>
          <li>
            <a class="text-muted" href="#">Forum</a>
          </li>
          <li>
            <a class="text-muted" href="#">Expo</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">

        <ul class="list-inline social">
          <li><a href="#"><i class="fab fa-facebook-square fa-3x"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square fa-3x"></i></a></li>
          <li><a href="#"><i class="fab fa-google-plus-square fa-3x"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin fa-3x"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram fa-3x"></i></a></li>
        </ul>

        <ul class="list-inline">
          <li><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/2000px-Download_on_the_App_Store_Badge.svg.png" class="app-img"></a></li>
          <li><a href="#"><img src="http://wordeo.minibarlabs.com/images/getgoogleplay.png" class="img-fluid" class="app-img"></a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
<div class="copy">
  <p class="text-center">&copy; Copyright-2018 by ASASA</p>
</div>
