footer {
    padding: 30px;
    width: 100%;
    color: white;
    margin-top: 40px; 
}

h5 {
    font-weight: bold;
    font-size: 1.6rem;
}

ul li {
    padding: 5px;
}

ul li a {
    color: white!important;
}

.list-inline li {
    display: inline-block;
}

.social li a:hover {
    color: grey!important;
}

.app-img {
    width: 200px;
}

.copy {
    background-color: black;
    padding: 10px;
    color: white;
    width: 100%;
}