<div class="container">
  <div class="row mt-3">
    <div class="col-md-2">
      <a class="btn btn-primary btn-lg btn-huge" routerLink="/profile">
        <i class="fas fa-user-alt"></i> Profile</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-info btn-lg btn-huge" routerLink="/activeProperties">
          <i class="fas fa-th-list"></i> Active Properties</a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-success btn-lg btn-huge" routerLink="/addProperty">
        <i class="fas fa-plus"></i> Add Property</a>
    </div>
  </div>
</div>