<p><b>Nearby Locations</b></p>
<form>
  <div class="form-row">
    <div class="form-group">

      <!-- Nearby Schools -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Nearby Schools: </div>
        </div>
        <input type="text" class="form-control" id="nearby-schools" name="nearby-schools">
      </div>
      <!-- Nearby Hospitals -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Nearby Hospitals: </div>
        </div>
        <input type="text" class="form-control" id="nearby-hospitals" name="nearby-hospitals">
      </div>
      <!-- Nearby Shopping Malls -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Nearby Shopping Malls: </div>
        </div>
        <input type="text" class="form-control" id="nearby-shopping-malls" name="nearby-shopping-malls">
      </div>
      <!-- Nearby Restaurants -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Nearby Restaurants: </div>
        </div>
        <input type="text" class="form-control" id="nearby-restaurants" name="nearby-restaurants">
      </div>
      <!-- Distance from Airport(kms) -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Distance from Airport(kms): </div>
        </div>
        <input type="text" class="form-control" id="airport-distance" name="airport-distance">
      </div>
      <!-- Nearby Public Transport -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Nearby Public Transport: </div>
        </div>
        <input type="text" class="form-control" id="nearby-transport" name="nearby-transport">
      </div>
      <!-- Other Nearby Places -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Other Nearby Places: </div>
        </div>
        <input type="text" class="form-control" id="nearby-places" name="nearby-places">
      </div>

    </div>
  </div>
</form>