.container {
  margin-top: 4rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;


  margin-left: -120px;
  position: absolute;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
  }
}
