.container {
  margin-top: 4rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin-left: -120px;
  position: absolute;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 109%;
    margin-left: -15px;
  }
}
