<p><b>Other Facilities</b></p>
<form #form="ngForm">
  <div class="form-row">
    <div class="form-group">

      <!-- Maintainance Staff -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="maintainance_staff" [(ngModel)]="other.maintainance_staff">
        <label class="form-check-label" for="maintainance-staff">Maintainance Staff</label>
      </div>
      <!-- Security Staff -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="security_staff" [(ngModel)]="other.security_staff">
        <label class="form-check-label" for="security-staff">Security Staff</label>
      </div>
      <!-- Facilities for Disabled -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="facilities_disable" [(ngModel)]="other.facilities_disable">
        <label class="form-check-label" for="facilities-disable">Facilities for Disabled</label>
      </div>
      <ng-template [ngIf]="type == 'commercial'">
        <!-- Pet Policy -->
        <select class="custom-select mt-2 mb-2" name="pet_policy" [(ngModel)]="other.pet_policy">
          <option value="">Select Pet Policy</option>
          <option value="Allowed">Allowed</option>
          <option value="Not Allowed">Not Allowed</option>
        </select>
      </ng-template>
      <!-- Other Facilities -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Other Facilities: </div>
        </div>
        <input type="text" class="form-control" name="other_facilities" [(ngModel)]="other.other_facilities">
      </div>

    </div>
  </div>
</form>