<!-- <div class="row"> -->

<nav class="navbar" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li routerLinkActive="active" data-toggle="tooltip" data-placement="right">
      <a routerLink="/dashboard/profile">
        <i class="fas fa-user-alt"></i> Profile</a
      >
    </li>
    <li routerLinkActive="active" data-toggle="tooltip" data-placement="right">
      <a routerLink="/dashboard/favourites">
        <i class="fas fa-heart"></i> Favorites</a
      >
    </li>
    <li
      routerLinkActive="active"
      data-toggle="tooltip"
      data-placement="right"
      *ngIf="!agent && !customer"
    >
      <a routerLink="/dashboard/agents"> <i class="fas fa-users"></i> Agents</a>
    </li>
    <li
      routerLinkActive="active"
      data-toggle="tooltip"
      data-placement="right"
      *ngIf="!customer"
    >
      <a routerLink="/dashboard/addProperty">
        <i class="fas fa-home"></i> Add Property</a
      >
    </li>
    <li
      routerLinkActive="active"
      data-toggle="tooltip"
      data-placement="right"
      *ngIf="!customer"
    >
      <a routerLink="/dashboard/activeProperties">
        <i class="fas fa-building"></i> Active Properties</a
      >
    </li>

    <li
      routerLinkActive="active"
      data-toggle="tooltip"
      data-placement="right"
      *ngIf="!agent && !customer"
    >
      <a routerLink="/dashboard/editCityLoc">
        <i class="fas fa-edit"></i> Edit City/Location</a
      >
    </li>
    <li
      routerLinkActive="active"
      data-toggle="tooltip"
      data-placement="right"
      *ngIf="!customer"
    >
      <a routerLink="/dashboard/addSubLocation">
        <i class="fas fa-map-marked-alt"></i> Add Sub Locations</a
      >
    </li>
    <li
      routerLinkActive="active"
      data-toggle="tooltip"
      data-placement="right"
      *ngIf="!agent && !customer"
    >
      <a routerLink="/dashboard/propertyRequest">
        <i class="fab fa-fort-awesome"></i> Propety Request</a
      >
    </li>
    <!-- <li
      routerLinkActive="active"
      data-toggle="tooltip"
      data-placement="right"
      *ngIf="!customer"
    >
      <a routerLink="/dashboard/storage">
        <i class="fas fa-file-export"></i> File Sharing</a
      >
    </li> -->
  </ul>
</nav>

<!-- <div class="col-md-9">
    <div class="container">
      <div class="row mt-2">
        <div class="col">
          <a class="btn btn-primary" routerLink="/dashboard/profile">
            <i class="fas fa-user-alt"></i> Profile</a
          >
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <a class="btn btn-danger" routerLink="/dashboard/favourites">
            <i class="fas fa-heart"></i> Favorites</a
          >
        </div>
      </div>

      <div *ngIf="!agent && !customer" class="row mt-2">
        <div class="col">
          <a class="btn btn-primary" routerLink="/dashboard/agents">
            <i class="fas fa-users"></i> Agents</a
          >
        </div>
      </div>

      <div *ngIf="!customer" class="row mt-2">
        <div class="col">
          <a class="btn btn-success" routerLink="/dashboard/addProperty">
            <i class="fas fa-plus"></i> Add Property</a
          >
        </div>
      </div>

      <div *ngIf="!customer" class="row mt-2">
        <div class="col">
          <a class="btn btn-info" routerLink="/dashboard/activeProperties">
            <i class="fas fa-th-list"></i> Active Properties</a
          >
        </div>
      </div>

      <div *ngIf="!agent && !customer" class="row mt-2">
        <div class="col">
          <a class="btn btn-info" routerLink="/dashboard/editCityLoc">
            <i class="fas fa-plus"></i> Edit City/Location</a
          >
        </div>
      </div>

      <div *ngIf="!agent && !customer" class="row mt-2">
        <div class="col">
          <a class="btn btn-success" routerLink="/dashboard/addSubLocation">
            <i class="fas fa-plus"></i> Add Sub Locations</a
          >
        </div>
      </div>

      <div *ngIf="!customer" class="row mt-2">
        <div class="col">
          <a class="btn btn-primary" routerLink="/dashboard/storage">
            <i class="fas fa-hdd"></i> File Sharing</a
          >
        </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->
