.map {
    width: 100%;
    height: 100%;
}

.list-inline {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 11px;
    background-color: rgb(255, 255, 255);
    padding: 11px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 40px;
    border-left: 0px;
}

.list-inline li {
    display: inline-block;   
    font-weight: bold;
    margin-right: 5px;
}

agm-map {
    height: 450px;
    display: block;
}

.property-icon {
    height: 12px;
    margin-bottom: 4px; 
}