<div class="map mt-2">
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map #map [latitude]="lat" [longitude]="lng" [gestureHandling]="gesture" [mapTypeControl]=true [panControl]=true (mapReady)="mapReady($event)">

    <marker [map]="map"></marker>

  </agm-map>

  <ul id="Settings" class="d-none d-md-block list-inline ml-1">
    <!-- <li><img src="assets/images/blue_circle.svg" class="property-icon"> House</li> -->
    <li><img src="assets/images/blue_circle.svg" class="property-icon"> Available Plot in DHA, Peshawar</li>
    <!-- <li><img src="assets/images/green_triangle.svg" class="property-icon"> Commercial</li> -->
  </ul>

  <marker-modal></marker-modal>

</div>