<app-dashboard></app-dashboard>
<div class="col-md-9">
  <div class="container-fluid">
    <div class="form-inline">
      <button
        class="btn btn-primary mt-2 mb-2"
        routerLink="/dashboard/addProperty"
      >
        Add New
      </button>
      <input
        type="text"
        class="form-control ml-2"
        placeholder="Search {{ placeholder }}"
        [(ngModel)]="refId"
      />
      <ng-select
        [items]="options"
        bindLabel="name"
        bindValue="value"
        class="mr-2 ml-2"
        placeholder="Filter By"
        [(ngModel)]="selectedOption"
        (change)="optionChange($event)"
        [clearable]="false"
      >
      </ng-select>

      <ng-select
        [items]="agents"
        bindLabel="name"
        bindValue="_id"
        class="mr-2 ml-2"
        placeholder="Agents"
        (change)="agentChange($event)"
      >
      </ng-select>
    </div>
    <table
      class="table table-hover"
      [mfData]="filteredData | filterlist: selectedOption:refId"
      [(mfSortBy)]="sortBy"
      [(mfSortOrder)]="sortOrder"
      #mf="mfDataTable"
      [mfRowsOnPage]="50"
    >
      <thead>
        <tr>
          <th style="width: 5%">
            <mfDefaultSorter by="refid">Ref ID</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="id">Inv ID</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="type">Type</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="number">Number</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="area">Area</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="location">Location</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="demand">Demand</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="comment">Comment</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="updatedBy">Updated by</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="operations">Operations</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data.slice().reverse()">
          <td>{{ item._id }}</td>
          <td>{{ item.invId }}</td>
          <td>{{ item.subtype }}</td>
          <td>{{ item.propNumber }}</td>
          <td>{{ item.area }} {{ item.areaType | titlecase }}</td>
          <td>
            {{ item.locationData.city }}
          </td>
          <!-- 
          <span *ngIf="item.locationData.sector"
          >{{ item.locationData.sector }},</span
        >
        {{ item.locationData.location }}, -->
          <td>Rs. {{ getDemand(item.demand) }}</td>
          <td>{{ item.comment }}</td>
          <td *ngIf="agents">{{ getName(item.userId) }}</td>
          <td>
            <button class="btn btn-success btn-sm mr-1" (click)="edit(item)">
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="confirmDelete(item)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator
              [rowsOnPageSet]="[50, 100, 150]"
            ></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete it?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="delete()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
