<p><b>Business and Communication</b></p>
<form>
  <div class="form-row">
    <div class="form-group">

      <!-- Broadband Internet Access -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="internet" name="internet">
        <label class="custom-control-label" for="internet">Broadband Internet Access</label>
      </div>
      <!-- Sattelite or Cable TV Ready -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="cable-tv" name="cable-tv">
        <label class="custom-control-label" for="cable-tv">Sattelite or Cable TV Ready</label>
      </div>
      <!-- Intercom -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="intercom" name="intercom">
        <label class="custom-control-label" for="intercom">Intercom</label>
      </div>
      <ng-template [ngIf]="type == 'commercial'">
        <!-- Business Center or Media Room in Building -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="business-center" name="business-center">
          <label class="custom-control-label" for="business-center">Business Center or Media Room in Building</label>
        </div>
        <!-- ATM Machines -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="atm" name="atm">
          <label class="custom-control-label" for="atm">ATM Machines</label>
        </div>
      </ng-template>
      <!-- Other Business and Communication Facilities -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Other Facilities: </div>
        </div>
        <input type="text" class="form-control" id="other-biz" name="other-biz">
      </div>

    </div>
  </div>
</form>