<div class="container">

  <div class="row mt-2">
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
      </div>
      <div class="form-group">
        <label for="phone">Phone #</label>
        <input type="phone" class="form-control" name="phone" placeholder="Enter phone" [(ngModel)]="credentials.phone">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
      </div>
    </div>

    <div class="col-md-4 ml-1 mt-1" style="border:1px solid;">
      <h4>Assign Location</h4>

      <div class="form-group">
        <ng-select #city [items]="cities" bindLabel="city" bindValue="_id" class="mr-2 ml-2" placeholder="Select City"
          [(ngModel)]="credentials.cityId" (change)="cityChange($event)">
        </ng-select>
      </div>

      <div class="form-group">
        <ng-select [items]="locations" bindLabel="location" bindValue="_id" class="mr-2 ml-2" placeholder="Select Location"
          [(ngModel)]="credentials.locationId" (change)="locChange($event)">
        </ng-select>
      </div>

      <div *ngIf="location" class="form-group">
        <select multiple class="form-control" name="subLocations" [(ngModel)]="credentials.subLocations">
          <option *ngFor="let sloc of location.subLocations" value="{{ sloc.subLocation }}">{{ sloc.subLocation }}</option>
        </select>
      </div>

    </div>

  </div>

  <div class="row">
    <button (click)="register()" class="btn btn-default">Register!</button>
  </div>

</div>