<style>
  .row {
    margin-top: 5%;
  }

  .email {
    position: relative;

    margin-top: 0px !important;

    margin-bottom: 5px !important;
    text-align: center;
    width: 640px;
    margin: 0 auto;
    background-color: #ececec;
    border-top: 5px solid #25bda4;
    border-radius: 4px;
  }

</style>

<div class="row">
  <section class="email">

    <div class="decription mt30 mb40 ">

      <h5>Agent Information</h5>
      <form>
        <div class="form-group">
          <input type="name" class="form-control" name="name" placeholder="Full name" />
        </div>
        <div class="form-group">
          <input type="phone" class="form-control" name="phone" placeholder="Enter Phone" required />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email Address" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required />
        </div>
      </form>
      <h5>Assign Location</h5>

      <div class="form-group" style="    margin-top: 24px;">
        <ng-select #city [items]="cities" bindLabel="city" bindValue="_id" class="mr-2 ml-2" placeholder="Select City"
          [(ngModel)]="credentials.cityId" (change)="cityChange($event)">
        </ng-select>
      </div>

      <div class="form-group">
        <ng-select [items]="locations" [multiple]="true" bindLabel="location" bindValue="location" class="mr-2 ml-2"
          placeholder="Select Location" [(ngModel)]="credentials.locationId" (change)="locChange($event)">
        </ng-select>
      </div>

      <div *ngIf="location" class="form-group">
        <h6 style="color:red;">This is optional</h6>
        <select multiple class="form-control" name="subLocations" [(ngModel)]="credentials.subLocations">
          <option *ngFor="let sloc of location.subLocations" value="{{ sloc.subLocation }}">{{ sloc.subLocation }}
          </option>
        </select>
      </div>
      <button *ngIf="!edit" (click)="register()" type="button" class="btn btn-primary" style="    background-color: #25bda4;
        border: #25bda4;">
        Register!
      </button>
      <button *ngIf="edit" (click)="update()" type="button" class="btn btn-primary" style="    background-color: #25bda4;
        border: #25bda4;">
        Update
      </button>
    </div>
  </section>
