<div class="container text-center mt-3">
  <h2 class="header">Hot Regions in Pakistan</h2>
  <p>Explore your real estate options across different markets</p>
</div>

<div class="col-md-6 text-center" style="top: 60px;">
  <!-- Content -->

  <div
    class="row"
    style="    overflow: scroll;
  height: 300px;overflow-x: hidden;"
  >
    <div class="col-md-4" *ngFor="let item of locationJSON">
      <div class="region">
        <a routerLink="/Islamabad">
          <img src="{{ item.img }}" class="img-body" style="" />
          <div class="img-text">
            {{ item?.city }}<br />
            <div class="total">{{ item?.locations }} Locations</div>
          </div>
        </a>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="region">
        <a routerLink="/Peshawar">
          <img
            src="assets/images/peshawar.jpg"
            alt="peshawar"
            style="width:100%;"
          />
          <div class="img-text">
            Peshawar<br />
            <div class="total">{{ peshawarCount }} Locations</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="region">
        <a routerLink="/Karachi">
          <img
            src="assets/images/karachi.jpg"
            alt="karachi"
            style="width:100%;"
          />
          <div class="img-text">
            Karachi<br />
            <div class="total">{{ karachiCount }} Locations</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="region">
        <a routerLink="/Islamabad">
          <img
            src="assets/images/islamabad.jpg"
            alt="islamabad"
            style="width:100%;"
          />
          <div class="img-text">
            Islamabad<br />
            <div class="total">{{ islamabadCount }} Locations</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="region">
        <a routerLink="/Peshawar">
          <img
            src="assets/images/peshawar.jpg"
            alt="peshawar"
            style="width:100%;"
          />
          <div class="img-text">
            Peshawar<br />
            <div class="total">{{ peshawarCount }} Locations</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="region">
        <a routerLink="/Karachi">
          <img
            src="assets/images/karachi.jpg"
            alt="karachi"
            style="width:100%;"
          />
          <div class="img-text">
            Karachi<br />
            <div class="total">{{ karachiCount }} Locations</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="region">
        <a routerLink="/Peshawar">
          <img
            src="assets/images/peshawar.jpg"
            alt="peshawar"
            style="width:100%;"
          />
          <div class="img-text">
            Peshawar<br />
            <div class="total">{{ peshawarCount }} Locations</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="region">
        <a routerLink="/Karachi">
          <img
            src="assets/images/karachi.jpg"
            alt="karachi"
            style="width:100%;"
          />
          <div class="img-text">
            Karachi<br />
            <div class="total">{{ karachiCount }} Locations</div>
          </div>
        </a>
      </div>
    </div> -->
  </div>
</div>

<div class="col-md-6-fusion-chart">
  <fusioncharts
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [dataSource]="dataSource"
  >
  </fusioncharts>
</div>
<!-- <div class="container text-center mt-3">
  <button class="btn btn-success">View More</button>
</div> -->
