<app-dashboard></app-dashboard>
<div class="col-md-9">
  <div class="container-fluid">
    <button class="btn btn-primary mt-2 mb-2" routerLink="/register">
      Add New
    </button>
    <table class="table table-hover" [mfData]="data" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" #mf="mfDataTable"
      [mfRowsOnPage]="50">
      <thead>
        <tr>
          <th style="width: 5%">
            <mfDefaultSorter by="id">ID</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="email">Email</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="propertyCount">Number Of Properties</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="location">Location Assigned</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="operations">Operations</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{ item._id | slice: -4 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.propertyCount }}</td>
          <td>{{ item.phone }}</td>
          <td *ngIf="cities && locations">
            {{ getCity(item.cityId) }}

            <ul>
              <li *ngFor="let sloc of item.locationId">{{ sloc }}</li>
            </ul>
          </td>
          <td>

            <a routerLink="/editAgent/{{ item._id }}" style="color: #5c5cff;
            font-weight: 600;"><i class="far fa-edit fa-2x"></i></a>
            <!-- <button class="btn btn-success btn-sm mr-2" routerLink="/editAgent/{{ item._id }}">
              Edit
            </button> -->

            <a data-toggle="modal" data-target="#exampleModal" (click)="confirmDelete(item)" style="color: #ff2929;
              font-weight: 600;margin: 8px;"><i class="far fa-trash-alt fa-2x"></i></a>
            <!-- <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal"
              (click)="confirmDelete(item)">
              Delete
            </button> -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[50, 100, 150]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Delete Confirmation
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete it?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
