<div class="row" id="map">

  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map #gm
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoom">

      <agm-marker 
        [latitude]="lat" 
        [longitude]="lng"
        [iconUrl]="icon"
        (mouseOver)="onMouseOver(infoWindow,gm)"
        (mouseOut)="onMouseOut()">

        <agm-info-window [disableAutoPan]="false" #infoWindow>
          <strong>Property Details</strong>
        </agm-info-window>

      </agm-marker>

  </agm-map>

</div>