<ng-container *ngFor="let ad of filteredAds; let i=index">

  <agm-marker *ngIf="ad.type == 'house'" [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng" [iconUrl]="houseIcon"
    (mouseOver)="onMouseOver(infoWindow,map)" (mouseOut)="onMouseOut()" (markerClick)="onMarkerClick(ad)">

    <agm-info-window #infoWindow>
      <info-window-content [ad]="ad"></info-window-content>
    </agm-info-window>

  </agm-marker>

  <agm-marker *ngIf="ad.type == 'plot'" [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng" [iconUrl]="plotIcon"
    (mouseOver)="onMouseOver(infoWindow,map)" (mouseOut)="onMouseOut()" (markerClick)="onMarkerClick(ad)">

    <agm-info-window #infoWindow>
      <info-window-content [ad]="ad"></info-window-content>
    </agm-info-window>

  </agm-marker>

  <agm-marker *ngIf="ad.type == 'commercial'" [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng"
    [iconUrl]="commercialIcon" (mouseOver)="onMouseOver(infoWindow,map)" (mouseOut)="onMouseOut()" (markerClick)="onMarkerClick(ad)">

    <agm-info-window #infoWindow>
      <info-window-content [ad]="ad"></info-window-content>
    </agm-info-window>

  </agm-marker>
</ng-container>