<agm-marker 
  *ngFor="let ad of ads; let i=index" 
  [latitude]="ad.locationData.lat" [longitude]="ad.locationData.lng" [iconUrl]="icon"
  (mouseOver)="onMouseOver(infoWindow,map)" (mouseOut)="onMouseOut()"
  (markerClick)="onMarkerClick(ad)">

  <agm-info-window #infoWindow>
    <div class="propertyImg mr-2">
      <img src="assets/images/map-thumbnail.jpg" width="80" height="70">
    </div>
    <div class="propertyDetails">
      <p class="mb-1">
        <b>{{ ad.type | titlecase }} no. {{ ad.propNumber }}</b>
      </p>
      <p class="mb-1">
        <b>Rs. {{ getDemand(ad.demand) }}</b>
      </p>
      <p class="mb-1">{{ ad.area }} {{ ad.areaType }}</p>
      <p class="mb-1">{{ ad.locationData.location }}, {{ ad.locationData.city }}</p>
      <p class="mb-1"><a href="#">Click here for more details</a></p>
    </div>
  </agm-info-window>

</agm-marker>