<div class="container mt-3">
  <h2 class="header">How it works?</h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 steps">
      <p><i class="fas fa-check greentick"></i> Welcome to Asasa.com!</p>
      <p><i class="fas fa-check greentick"></i> Choose from our selection of verified properties.</p>
      <p><i class="fas fa-check greentick"></i> Make sure to check key features, virtual tours, photos and videos mentioned in each listing to gain a better insight about the property.</p>
      <p><i class="fas fa-check greentick"></i> Search for the right property by filtering through the listings being offered.</p>
      <p><i class="fas fa-check greentick"></i> Contact the agent of the property selected, using the contact details mentioned on the listing.</p>
      <p><i class="fas fa-check greentick"></i> Wait for the agent to contact and guide you regarding the property selected.</p>
    </div>
    <div class="col-md-6">
      <img src="https://i.ytimg.com/vi/0TjxnrWT8Es/maxresdefault.jpg" style="width: 350px;">
    </div>
  </div>
</div>
