<p><b>Plot Features</b></p>
<form #form="ngForm">
  <div class="form-row">
    <div class="form-group">

      <!-- Possession -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="possession" [(ngModel)]="plot_features.possession">
        <label class="form-check-label" for="possession">Possession</label>
      </div>
      <!-- Corner -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="corner" [(ngModel)]="plot_features.corner">
        <label class="form-check-label" for="corner">Corner</label>
      </div>
      <!-- Park facing -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="park_facing" [(ngModel)]="plot_features.park_facing">
        <label class="form-check-label" for="park-facing">Park facing</label>
      </div>
      <!-- Disputed -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="disputed" [(ngModel)]="plot_features.disputed">
        <label class="form-check-label" for="disputed">Disputed</label>
      </div>
      <!-- File -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="file" [(ngModel)]="plot_features.file">
        <label class="form-check-label" for="file">File</label>
      </div>
      <!-- Balloted -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="balloted" [(ngModel)]="plot_features.balloted">
        <label class="form-check-label" for="balloted">Balloted</label>
      </div>
      <!-- Sewerage -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="sewerage" [(ngModel)]="plot_features.sewerage">
        <label class="form-check-label" for="sewerage">Sewerage</label>
      </div>
      <!-- Electricity -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="electricity" [(ngModel)]="plot_features.electricity">
        <label class="form-check-label" for="electricity">Electricity</label>
      </div>
      <!-- Water Supply -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="water_supply" [(ngModel)]="plot_features.water_supply">
        <label class="form-check-label" for="water-supply">Water Supply</label>
      </div>
      <!-- Sui Gas -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="sui_gas" [(ngModel)]="plot_features.sui_gas">
        <label class="form-check-label" for="sui-gas">Sui Gas</label>
      </div>
      <!-- Boundary Wall -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="boundary_wall" [(ngModel)]="plot_features.boundary_wall">
        <label class="form-check-label" for="boundary-wall">Boundary Wall</label>
      </div>
      <!-- Other Plot Features -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Other Plot Features: </div>
        </div>
        <input type="text" class="form-control" name="plot_features" [(ngModel)]="plot_features.plot_features">
      </div>

    </div>
  </div>
</form>