<p><b>Business and Communication</b></p>
<form #form="ngForm">
  <div class="form-row">
    <div class="form-group">

      <!-- Broadband Internet Access -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="internet" [(ngModel)]="biz_comm.internet">
        <label class="form-check-label" for="internet">Broadband Internet Access</label>
      </div>
      <!-- Sattelite or Cable TV Ready -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="cable_tv" [(ngModel)]="biz_comm.cable_tv">
        <label class="form-check-label" for="cable_tv">Sattelite or Cable TV Ready</label>
      </div>
      <!-- Intercom -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="intercom" [(ngModel)]="biz_comm.intercom">
        <label class="form-check-label" for="intercom">Intercom</label>
      </div>
      <ng-template [ngIf]="type == 'commercial'">
        <!-- Business Center or Media Room in Building -->
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="business_center" [(ngModel)]="biz_comm.business_center">
          <label class="form-check-label" for="business_center">Business Center or Media Room in Building</label>
        </div>
        <!-- ATM Machines -->
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="atm" [(ngModel)]="biz_comm.atm">
          <label class="form-check-label" for="atm">ATM Machines</label>
        </div>
      </ng-template>
      <!-- Other Business and Communication Facilities -->
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Other Facilities: </div>
        </div>
        <input type="text" class="form-control" name="other_biz" [(ngModel)]="biz_comm.other_biz">
      </div>

    </div>
  </div>
</form>